[2018-03-29 14:52] almeynman opened #1 "Road to 1.0"
- [ ] setup automatic testing similar to https://github.com/elevatebart/vue-cli-plugin-template-loader

- [ ] if babel configuration is in package.json load it as custom storybook configuration

- [ ] If .babelrc does not exist at the root of the project, generate .babelrc file in the storybook

- [ ] if vueStorybook flag is set to true add relevant webpack configurations to service (index.js) and

[2018-06-04 06:38] Elfayer opened #2 "Doesn't work on @vue/cli-beta.15 setup"
I used `vue ui` to run the script `npm run storybook`, it returns an error. Note I use vue-cli default setup and just added vue-cli-plugin-storybook.

[code]

[2018-06-14 10:54] leovanhaaren opened #3 "Project dead?"
@almeynman you still actively developing the plugin? Would like to pick it up if you don't mind.

[2018-06-14 11:21] almeynman commented on #3
@leovanhaaren Thanks! Please do. Currently have no time to work on it.

[2018-07-06 11:59] pksunkara commented on #3
@almeynman Would you be willing to accept PRs, or should we start a new module?

[2018-07-07 22:05] almeynman commented on #3
@pksunkara I am willing to accept PR. I am also willing to transfer ownership of this project if you are interested

[2018-07-07 23:05] pksunkara commented on #3
I am willing to maintain this and improve this.

[2018-07-09 08:54] pksunkara commented on #3
@almeynman Thanks for transferring the repo. I will be working on fixing the broken stuff this week. Could you also add me as owner on npm? https://www.npmjs.com/package/vue-cli-plugin-storybook

[2018-07-09 11:10] almeynman commented on #3
@pksunkara I have added you as admin. When you confirm, I will remove myself

[2018-07-09 11:54] pksunkara commented on #3
Confirmed. Thanks for everything.

[2018-07-09 11:54] #3 closed

[2018-07-23 10:52] leovanhaaren opened #4 "Static assets are not copied"
Hi,

Today i've noticed that with the latest version of this plugin, static assets from components are not copied to the static storybook folder.

Webpack is loading them like `<img src="img/ic-forward.f9f0c5c8.svg">` but within the `storybook-static` folder there are no images copied. This prob has to do with the new webpack config that was added in the latest release.

[2018-07-23 10:57] leovanhaaren commented on #4
To clarify, this happens in dev mode. Building storybook seems to work fine.

[2018-07-23 11:15] leovanhaaren commented on #4
[code]

[2018-07-23 11:18] pksunkara commented on #4
@leovanhaaren I am working on releasing a new version (probably today). I am not sure whether this particular issue will be fixed or not. The new version will completely use your vue project's webpack config. If you are interested, we could chat on Vue discord #webpack channel once I publish the next version

[2018-07-23 12:39] leovanhaaren commented on #4
Cool! I'll wait for the new version then, if the issue still persist we can indeed have a chat. Thanks for the fast reply!

[2018-07-23 20:54] pksunkara opened #5 "Not working with "default (babel, eslint)" preset"
You have to choose "Manually select features" in vue-cli

[2018-07-23 21:02] pksunkara commented on #4
@leovanhaaren 0.3.0 is released. It should be a completely good version (except for typescript and lint)

[2018-07-23 21:03] pksunkara commented on #2
0.3.0 is released which should be working with the latest cli release candidates.

[2018-07-23 21:03] #2 closed

[2018-07-23 21:06] pksunkara commented on #5
Fixed in 0.3.0

[2018-07-23 21:06] #5 closed

[2018-07-23 21:07] pksunkara commented on #1
@almeynman Could you explain what you mean by `vueStorybook` flag and `classComponent` flag.

[2018-07-24 06:55] almeynman commented on #1
@pksunkara
vueStorybook is a package that allows to add custom `<story>` blocks.
classComponent flag is needed in case the project is configured to use class components. There was some difference in storybook configuration. I don't remember exactly which.

[2018-07-24 07:54] leovanhaaren commented on #4
@pksunkara I can now confirm that it works. Thanks for the fast update!

[2018-07-24 07:54] #4 closed

[2018-07-24 07:55] pksunkara commented on #4
@leovanhaaren Np. Don't mind to open issues for any thing you think is wrong.

[2018-08-08 06:48] laomao800 opened #8 "After adding this plugin, `build --target lib` work unexpected."
### Steps to reproduce
1. `vue-cli 3.0.0-rc.11` create a new project
1. Change the default build script into `vue-cli-service build --target lib`
1. Adding the vue-cli-plugin-storybook by using `vue add storybook`
1. Run `yarn build`

### What is expected?
Before Adding the storybook plugin, it works fine:
![f f wf95x 8lb 0g5l_nnv](https://user-images.githubusercontent.com/2084021/43820146-f0c2efd

[2018-08-08 12:15] pksunkara commented on #8
From Discord,

[2018-08-11 09:58] ndelangen opened #9 "Make this official & become of storybook collaborator"
Hey @pksunkara

OW man wow, this is so awesome! I should have googled before tweeting! https://twitter.com/NorbertdeLangen/status/1028197030349484037

Would you feel good about moving this to the storybook organisation on github and becoming a maintainer there? (offer extends to all collaborators here)

♥️ storybook team

[2018-08-11 19:29] pksunkara commented on #9
Would love to. Have been reading storybook code a lot for this plugin. What are the steps? I accepted your invitation to @storybooks.

[2018-08-11 19:55] pksunkara commented on #9
Also, I would need this to make the plugin not install all the extra babel stuff. https://github.com/storybooks/storybook/pull/3746#issuecomment-412143536

[2018-08-11 23:40] ndelangen commented on #9
@pksunkara I'm so happy! You should be allowed to move this repo to the organisation now.

I will work on the babel PR monday, should get merged.

What more do you need, really open to discussing changes to facilitate this more.
@igor-dv has been working on presets in Storybook (he's working on typescript) so users can tweak the workings and configs by installing packages, instead of changing conf

[2018-08-12 05:11] pksunkara commented on #9
Transferred the repository on github. What about NPM?

Regarding other issues, I had to write my own custom `@storybook/vue/server` code for this at [here](https://github.com/storybooks/vue-cli-plugin-storybook/blob/master/index.js#L13). I might not have completely understood how storybook works, so, would appreciate a small look at that part.

Also, do you guys hangout somewhere to chat regarding

[2018-08-12 06:50] igor-dv commented on #9
We have a [slack](https://now-examples-slackin-nqnzoygycp.now.sh/) =)

[2018-08-13 07:06] leeuwd opened #10 "Invalid component definition on frontend when using vue-svg-loader"
<img width="478" alt="schermafbeelding 2018-08-13 om 09 03 21" src="https://user-images.githubusercontent.com/1755190/44017212-ca627c96-9ed7-11e8-95db-7eef1f126562.png">

Occurs with `storybook/vue@4.0.0-alpha.16` and [`vue-svg-loader@0.5.0`](https://github.com/visualfanatic/vue-svg-loader). To get the Vue SVG loader working with Vue CLI 3 (`3.0.0-rc.12`), I have this in `vue.config.js`:

[code]

[2018-08-13 10:13] pksunkara commented on #9
Added both of you on NPM. Will add other people when they contribute. Closing this issue since this is official now.

[2018-08-13 10:13] #9 closed

[2018-08-13 16:28] leovanhaaren commented on #8
I also face this problem, been debugging for ages why my build suddenly changed. Somehow `NODE_ENV` gets set to development instead of production.

[2018-08-13 16:34] leovanhaaren commented on #8
Think it might have to do with;

[code]

[2018-08-13 16:35] pksunkara commented on #8
Will be looking into it now. Expect a release today if I find the fix. Thanks for the suggestion @leovanhaaren

[2018-08-13 17:55] pksunkara commented on #8
Found the issue. It is because of this statement.

[code]

It is weird. I will look into why this is messing with other things.

[2018-08-13 18:14] pksunkara commented on #8
[code]

Isolated the cause to the above package. That is done in many places of storybook.

[2018-08-14 00:18] pksunkara commented on #10
@leeuwd I have never worked with SVG in vue, and I am currently having trouble rendering the SVG using `npm run serve` even with the webpack config you provided. Would you be willing to make a small reproduction project for this issue? As soon as I can reproduce this, I will be able to fix it.

[2018-08-14 22:27] ndelangen commented on #9
🥇

[2018-08-15 07:36] leeuwd commented on #10
@pksunkara: here you go, https://github.com/leeuwd/svg-issue-demo

[2018-08-15 08:13] pksunkara commented on #10
Confirmed that able to reproduce this.

[2018-08-15 08:27] pksunkara commented on #10
Can confirm it is an issue of `api.resolveWebpackConfig();`. Vue is probably not loading `vue.config.js` at this point.

[2018-08-15 21:39] #10 closed

[2018-08-15 21:42] pksunkara commented on #10
Thanks for helping improve this. This should be fixed now in 0.4.3

[2018-08-16 10:21] tonimc opened #12 "build:storybook fails when "extract css" is enable"
## DESCRIPTION
The build step fails when the project has css-extract activated.

## ERROR
Webpack fails because is not able to load the `mini-css-extract-plugin`

## STEPS TO REPRODUCE
1. `vue create test-story-build`
2. `cd test-story-build`
3. `vue add storybook`
4. Set extract css to true in `vue.config.js`
`module.exports = {
  css: {
    extract: true
  }
}`
5. `yarn run build:storybook`

[2018-08-17 23:38] #12 closed

[2018-08-17 23:40] pksunkara commented on #12
@tonimc I think I now fixed this. You should be good to go. If you found any more issues, don't hesitate to create an issue. Since, this is an official plugin from @storybooks/team, we are always looking to be perfect.

[2018-08-20 10:32] alex-enchi opened #13 "Typescript storybook"
Thank you a lot for the plugin, at this moment it's the only solution that works properly with typescript for me.
Other ways that I found are outdated and usually have conflicts in `@babel/core` versions etc

It'll be great to either to detect does project uses typescript or add an options to the cli itself.

Difference to run ts-version is quite minor:
1. `/.stories.js$/` to `/.stories.ts$/`
2. T

[2018-08-21 08:44] pksunkara commented on #13
More typescript support is definitely on the list. I am just trying to see if @vue/cli will implement https://github.com/vuejs/vue-cli/issues/1754 first.

[2018-08-26 01:45] studnitz opened #14 "Fresh install not working"
Hello,

I tried to run either the `serve:storybook` and the `build:storybook` scripts, but they both fail on a freshly created vue cli project with a standard template (babel + eslint).

My specs:
OS: Windows 10
[code]
And this is the error log:

[code]

[2018-08-26 16:05] sneko commented on #14
@pksunkara same for me

Note: Storybook team released the v4.0.0-alpha.17+18 that uses Babel 7, will that involve some changes?

[2018-08-27 04:28] maikeldaloo commented on #14
Same here, on OSX.
On node.js v9.4.0 as well as v10.8.0. Project started with vue-cli 3.0.0.

[2018-08-27 13:16] brennj commented on #14
Can confim this for me too, seems to be directly an issue with `0.4.4`, when I changed it in my `package.json` to `0.4.3`, all works fine.

[2018-08-28 16:41] axwalker commented on #14
I still get this error when I pin to `0.4.3`.

[2018-08-28 18:34] sneko commented on #14
@axwalker did you remove nodes_modules?

[2018-08-28 19:07] axwalker commented on #14
@sneko Yep, removed node_modules. It's using `@storybook/vue v4.0.0-alpha.16`.

[2018-09-01 05:49] gabemule commented on #14
Same here, on MacOS 10.13.4

[2018-09-01 10:52] #14 closed

[2018-09-03 09:43] fapspirit opened #15 "Missed moment.js"
Hello!
Just updated to `0.4.8` and there is error while running `serve:storybook`. Looks like moment dependency is missing somewhere. Installing it to devDependencies fixed it, but keeping it in project's dependencies just for this doesn't seem to be a good idea.

Here is webpack error log:
[code]

[2018-09-03 09:43] axwalker opened #16 "VUE_APP_ .env environment variables"
I have a `.env.development` file that contains:

[code]

This does not come through to `process.env` within my stories or the components they are using. This same environment variable is passed through as expected when running `vue-cli-service serve`. Are we able to get these in storybook as well?

The only way I've been able to get some custom environment into my stories is with something like `S

[2018-09-03 09:46] pksunkara commented on #15
Hey, it's a peerDep for `addon-knobs`. This plugin doesn't use that addon by default. Therefore, the user is responsible to adding moment if they add addon-knobs. This is intentional on my part.

[2018-09-03 09:46] #15 closed

[2018-09-03 09:47] pksunkara commented on #16
Thanks for the report. I will look into fixing this ASAP.

[2018-09-03 09:48] fapspirit commented on #15
@pksunkara oh, excuse for troubling. I will be more attentive next time

[2018-09-03 09:48] pksunkara commented on #16
Do you think you could provide me with a sample vue-cli based project which I could test on? I have never used `VUE_APP_*` before.

[2018-09-03 10:00] axwalker commented on #16
Thanks a lot for the quick response. Here is a repo that reproduces the problem: https://github.com/axwalker/vue-cli-plugin-storybook-env

- [Env file](https://github.com/axwalker/vue-cli-plugin-storybook-env/blob/master/.env.development)
- [Logging environment for `serve`](https://github.com/axwalker/vue-cli-plugin-storybook-env/blob/master/src/main.js#L6)
- [Logging environment for `serve:storyb

[2018-09-03 10:01] kidzki commented on #14
Hello, i got a similar issue after your fix.

Versions
`
$ node -v
v10.9.0
$ npm -v
6.4.0
$ yarn -v
1.9.4
`
Error
`
yarn run v1.9.4
$ vue-cli-service serve:storybook -p 6006 -c config/storybook
info @storybook/vue v4.0.0-alpha.20
info
info => Loading custom addons config.
info => Loading custom webpack config (extending mode).
  0% compiling ERROR  TypeError: Cannot read property 'tap' of undefine

[2018-09-03 10:04] pksunkara commented on #14
@kidzki What's your vue.config.js? It looks like you have enabled cors, right?

[2018-09-03 10:14] kidzki commented on #14
Yes! I set a crossorigin. It woks after i removed the setting from my vue.config

[2018-09-03 11:59] kidzki commented on #14
But we both agree that this is a "bug" and needs to be fixed right?

[2018-09-03 12:01] pksunkara commented on #14
Yup. https://github.com/storybooks/vue-cli-plugin-storybook/pull/17#issuecomment-418089026

[2018-09-03 12:50] brennj opened #18 "Can't install plugin via Yarn/NPM"
[code]

[2018-09-03 12:52] pksunkara commented on #18
Weird. That package is available on npm. I couldn't reproduce it.

[2018-09-03 12:57] brennj commented on #18
Damn, its possible that its an issue locally. I will try and play around with it. Any suggestions welcome!

[2018-09-05 21:28] pksunkara commented on #18
@brennj Did you fix this?

[2018-09-05 22:37] pksunkara commented on #16
@axwalker Can you check with 0.4.7?

[2018-09-05 22:41] pksunkara commented on #16
Actually, I am not sure. I think none of `VUE_APP_` and `STORYBOOK_` might work now because they are conflicting with each other.

[2018-09-06 09:36] axwalker commented on #16
@pksunkara still no `VUE_APP_` variables coming through to storybook, unfortunately.

[2018-09-06 10:57] lazarljubenovic opened #19 "Add storybook-static to gitignore?"
Not sure what's the common and recommended way of doing things in the Vue CLI plugin, but seeing how it changes my files to set everything up for me, it seems like this would be a nice addition as well. It could add `storybook-static` to `.gitignore`, for example right below `/dist` (if it exists), or at the end of the file.

It's a built artifact just like the `dist/` folder so I assume everyone

[2018-09-06 11:14] lazarljubenovic opened #20 "Rename commands?"
The naming convention of using colons seems inverted here. It makes more sense to me to be `storybook:serve` and `storybook:build` than the current inverted. What do you think?

[2018-09-06 11:36] pksunkara commented on #20
`vue-cli-plugin-electron-builder` uses `serve:electron` and `build:electron`. I just followed that convention. I wanted all the `build` jobs to have `build` prefix regardless of what they are building, that way it's faster to identify, rather than reading `storybook` first and then `build`.

I am open to changing this if you can convince me with a major reason.

[2018-09-06 11:36] #20 closed

[2018-09-06 11:37] pksunkara commented on #19
Would welcome a PR.

[2018-09-06 11:43] lazarljubenovic commented on #20
Hm, I'd like all storybook commands in one place. Building the app, building storybook and building documentation are barely coupled at all, I don't see a reason why they'd be together. I see storybook as the category and we go deeper on each `:`, asking what do you want to do with the storybook.

It doesn't really matter, it's easy to rename. :smile:

[2018-09-06 15:03] pksunkara opened #21 "Documentation"
- [ ] Commands available
- [ ] VUE_APP_* environment variables

[2018-09-06 20:29] pksunkara commented on #16
Okay, figured out the issue. Needs to be fixed in storybook. Commented [here](https://github.com/storybooks/storybook/pull/3744#issuecomment-419230154). Once it's fixed, the following command should make the `VUE_APP_` available in storybook builds

[code]

[2018-09-07 10:16] ndelangen commented on #12
How does the `extract: true` work? What does it do?

I fixed a related thing here:
https://github.com/storybooks/storybook/pull/4134

[2018-09-07 10:18] pksunkara commented on #12
Good fix. Probably fixes something broken which wasn't reported. This issue was more about this plugin removing extract-css plugin from vue webpack config which is being used for storybook webpack config.

[2018-09-07 10:49] pksunkara commented on #16
I think the plugin should also set `STORYBOOK_ENV` to `vue`

[2018-09-07 22:50] ndelangen commented on #12
Well extracting css in storybook isn't recommended (you loose HMR), but now it's supported.

[2018-09-10 05:01] earthtone opened #22 "Unable to successfully run local storybook on new CLI Project"
On a fresh project created using `vue cli@3.0.1`, I am able to `add` the plugin with no warnings or errors, but when immediately running the `serve:storybook` script, I receive the following warning, which prevents all stories from rendering:

[code]

I've tried this with both the `default` preset provided by `vue-cli` and a manually entered configuration, and I consistently receive the same resul

[2018-09-10 07:12] jasonadt opened #23 "Unable to run Storybook with Stylus files (v0.4.7 of the CLI plugin)"
Prior to this latest version (0.4.7) I had no troubles, everything loaded fine when running `npm run storybook` but after updating to this latest version: I get the following errors related to my use of `.styl` files with `stylus-loader`:

[code]

The above is error is just one of many similar errors. I assume that this is due to a change in the whitelisting of Webpack plugins by  Vue-CLI-Plugin-S

[2018-09-10 07:41] tonimc commented on #12
@ndelangen the problem didn't come by extract CSS in the storybook, the problem comes because a user wants to extract CSS in his Vue component and as Storybook for Vue uses the project's webpack config, it fails when starts/build storybook (dev or production mode, now fixed).

So If extracting css is not recomended in storybook, maybe the plugin should omit the extract css config in the storybook

[2018-09-10 07:49] pksunkara commented on #23
@jasonadt Yes, you are probably correct. Could you provide me with an example repo to work with?

[2018-09-10 07:51] pksunkara commented on #22
Probably because of the preset support in alpha.21 release of storybook. Will look into it tonight.

[2018-09-10 08:02] jasonadt commented on #23
Unfortunately, I cannot share my repo, however I created it originally with Vue-CLI and standard options (I only added the stylus-loader in order to use Vuetify components a la carte)

[2018-09-10 17:04] HelloDeadline commented on #22
@pksunkara Thank you for your work on this issue. Could you please tell, if it is possible to downgrade meanwhile?

[2018-09-10 17:14] HelloDeadline commented on #22
After playing around with dependencies and adding
[code]
I managed to get rid of `programPath.hub.addHelper is not a function` error, but got this error instead:
[code]

Is it even a step forward? :)

[2018-09-10 17:15] pksunkara commented on #22
I dont think so 😄 . You should try to downgrade @storybook dependencies to alpha.20 in your package-lock.json or yarn.lock.

[2018-09-10 17:34] HelloDeadline commented on #22
@pksunkara Thank you, now it works
Not a fan of downgrading, but it is okay as temporary solution. I hope it won't take long to make it work with alpha.21 :)

[2018-09-11 21:02] gabemule commented on #22
Hey guys,

I`m having the same issue, but with an older project, using v3.4.10.
Tried to update storybook packages, directly to v4.0.0alpha.20 and vue-cli-plugin-storybook to latest v0.4.7, as seems to work above, but didn`t work for me either.

Error in stories:
`
Module build failed (from ./node_modules/babel-loader/lib/index.js):
TypeError: programPath.hub.addHelper is not a function
`

Error i

[2018-09-11 21:04] gabemule commented on #22
Could you post your package.json for version check?
I have used alpha.20 but didn't work for me, maybe another package version is conflicting.

[2018-09-11 21:20] gabemule commented on #23
Hey guys!!!
I'm having the same issue importing scss files.

[2018-09-11 21:45] gabemule commented on #22
@pksunkara
I wasn't able to run in a old project either, its using storybook v3.4.10 and shows the same error message. Tried to upgrade to v4.0.0-alpha.20 but didn't seem to work either.

`
Module build failed (from ./node_modules/babel-loader/lib/index.js):
TypeError: programPath.hub.addHelper is not a function
`

`
ERROR in ./src/assets/sass/sass.scss 2:0
Module parse failed: Unexpected characte

[2018-09-11 22:13] gabemule commented on #22
@pksunkara
I wasn't able to run in a old project either, its using storybook v3.4.10 and shows the same error message.
Tried to upgrade to v4.0.0-alpha.20 but didn't seem to work either.
Seems to be a conflict due to another dependency.

Module build error in stories:
<pre>
WARNING in ./src/stories/title.story.js
Module build failed (from ./node_modules/babel-loader/lib/index.js):
TypeError: progr

[2018-09-11 22:29] HelloDeadline commented on #22
Here is my `package.json` dependencies, I hope this can be helpful for those who also decided to downgrade for now:

[code]

[2018-09-11 22:43] gabemule commented on #22
Thanks a lot @HelloDeadline , i will try to use yours as reference!

[2018-09-12 08:03] pksunkara commented on #22
Released 0.4.8. Please install storybook freshly and this should work now.

[2018-09-12 15:05] gabemule commented on #22
Sorry to return to this, but latest still 0.4.7 in npm versions.

https://www.npmjs.com/package/vue-cli-plugin-storybook

[2018-09-13 05:16] gabemule opened #24 "0.4.8 not published"
Hi @pksunkara , noticed that version 0.4.8 has been tagged but never published in npm!
Thanks!!! =)

[2018-09-13 18:31] DanielPe05 opened #25 "Can't get default example to run"
This is a new vue-cli fresh install:
[code]

However the default example right after the plugin is installed fails with this:
[code]

When I remove the story that uses JSX I get the following error:
[code]

Any idea what could be causing is?

[2018-09-13 18:44] dbalas commented on #25
Duplicate of #22

[2018-09-13 19:40] #25 closed

[2018-09-14 10:49] HelloDeadline opened #27 "Components' css is not loaded in static storybook"
I created new vue app using Vue CLI 3. Added vue-cli-plugin-storybook and downgraded storybook dependencies (see the [issue](https://github.com/storybooks/vue-cli-plugin-storybook/issues/22#issuecomment-419990177))

Serve works fine. But when I build static storybook and try to serve it with simple http server, there is an error with css:

[code]

I guess this might be because `iframe.44ba0317.css

[2018-09-15 23:04] GuilhermeHideki commented on #22
To not edit manually the ``yarn.lock`` file, I fixed the version in the `package.json` file
[Documentation](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/)
[code]

[2018-09-17 12:53] haakseth commented on #24
Tip 🔥: While you wait for it to be published to npm, you can add it to your project directly from github like this:

```yarn add --dev git+https://git@github.com/storybooks/vue-cli-plugin-storybook```

... or the npm equivalent

[2018-09-17 12:54] pksunkara commented on #24
I have removed the tag guys because I realized it's not the correct way to fix things. I am working on fixing the whole thing with a new 0.5.0 release. Thanks for your patience.

[2018-09-18 13:13] Saif-Uz-Zaman opened #29 "TypeError: programPath.hub.addHelper is not a function"
### vue add storybook failed to run

`WARNING in ./src/stories/index.stories.js
Module build failed (from ./node_modules/babel-loader/lib/index.js):
TypeError: programPath.hub.addHelper is not a function
    at wrapInterop (C:\Users\saifm\development\practice\storybook-vue\node_modules\@storybook\core\node_modules\@babel\helper-module-transforms\lib\index.js:165:45)
    at PluginPass.exit (C:\User

[2018-09-18 13:45] pksunkara commented on #29
Duplicate of #22

[2018-09-18 13:45] #29 closed

[2018-09-21 00:49] pksunkara commented on #24
I realized that I need to add a lot more tests to get 0.5.0. So, I am releasing 0.4.8 in the meanwhile.

[2018-09-21 00:49] #24 closed

[2018-09-21 00:50] #22 closed

[2018-09-21 06:33] HelloDeadline commented on #21
Please also include guide how to install third-party plugins globally. Thank you!

[2018-09-25 05:28] ram33 commented on #27
I am facing the same issue. Fixed it manually.

[2018-09-25 11:54] axwalker commented on #16
Is there any workaround for this that doesn't need that storybook issue to be resolved? Even if it involves having to explicitly declare `VUE_APP_*` again in some configuration for this plugin?

[2018-09-26 09:02] SwannLV commented on #10
@leeuwd Hello, have you found how to get this working?

Thanks a lot

[2018-09-26 09:27] pksunkara commented on #10
@SwannLV What are you having issue with?

[2018-09-26 09:32] pksunkara commented on #27
@ram33 How did you fix it manually?

[2018-09-26 10:05] ram33 commented on #27
@pksunkara by changing them from scripts to links

before
![image](https://user-images.githubusercontent.com/12947297/46073067-934d1d00-c1a1-11e8-8a9e-fb1e48d5831e.png)

after
![image](https://user-images.githubusercontent.com/12947297/46073158-c394bb80-c1a1-11e8-8bf8-ae41d6d61d80.png)

[2018-09-26 10:15] HelloDeadline commented on #27
Unfortunately I don't have enough time and experience to discover the issue and contribute to the project, but I wrote small script that helps us fix this problem in generated file automatically after the build:

[code]

So in `package.json` we have: `"build:storybook": "vue-cli-service build:storybook -s ./public -c config/storybook && node ./build-scripts/fix-static-storybook.js",`

[2018-09-28 11:11] ram33 commented on #27
@HelloDeadline Its working like a charm. Thanks for the workaround.

[2018-09-28 12:56] HelloDeadline commented on #27
Glad it helped :)

[2018-10-01 11:02] disitec commented on #22
Fresh install of 0.4.8 and still having the `programPath.hub.addHelper is not a function` issue. Any tip?

[2018-10-01 11:02] pksunkara commented on #22
@disitec What are the storybook dependencies that got installed?

[2018-10-01 11:04] disitec commented on #22
[code]

[2018-10-01 11:35] disitec commented on #22
Fixed adding an empty `.babelrc` file inside `.storybook` folder

[2018-10-01 19:48] mapsandapps commented on #23
I am having the same issue. Storybook was working fine until I added "a la carte" Vuetify components. Now I'm getting the same error as above.

[2018-10-02 14:14] mapsandapps commented on #23
Adding

[code]

to my Storybook webpack config fixed the error for me.

[2018-10-05 17:40] tonimc opened #33 "StorySource addon doesn't work"
The StorySource addon doesn't work, I add it to the project add the source code of the story is doesn't show.
Steps to reproduce it:
1. Create Vue project
2. Add storybook using this plugins
3. Add StorySouce to `package.json`:
`"@storybook/addon-storysource": "^4.0.0-alpha.20",`
4. Install dependencies:
`$ yarn/npm install`
5. Register addon in the addons config file `storybook/config/addons.js`:

[2018-10-08 16:54] DirkStevens opened #34 "Vue component that imports mixin crashes"
Created a new Vue CLI 3 project
`vue create demo`

In the `demo` folder
`vue add storybook`

Run storybook - works nicely
`npm run serve:storybook`

Added mixin MyMixin.js in the `src/components` folder:
![image](https://user-images.githubusercontent.com/1837524/46622461-ff793a80-cb2a-11e8-9aab-50e80c304e6e.png)

Added references to mixin in `src/components/MyButton.vue`
![image](https://user-imag

[2018-10-19 18:19] cbeninati opened #35 "Babel loader unmet dependency."
After creating a new project, I get a 'babel-loader' dependency issue.

`ERROR  Error: Cannot find module 'babel-loader/package.json'`

<img width="489" alt="screen shot 2018-10-19 at 12 16 09 pm" src="https://user-images.githubusercontent.com/1027918/47236339-188ab280-d399-11e8-8553-d6a1fd13aeef.png">

[2018-11-09 00:18] rndmerle opened #37 "vue-cli webpack config not fully copied ?"
Hi.

in vue.config.js I've among other stuff:
[code]
**It seems none of those are copied in the configuration for Storybook** because 1) I get the performance messages and 2) I get errors like `Module not found: Error: Can't resolve '~/config' in ...`

If I create a Storybook's webpack.config.js and add those properties than it's working fine.

_@vue/cli-service 3.1.1_
_vue-cli-plugin-storybook 0.

[2018-11-09 00:40] rndmerle commented on #27
Hi.
Facing the same issue.
Thanks for the workaround but anyone got the time to work on a fix hopefully?

[2018-11-10 12:23] pksunkara opened #38 "Add knobs and notes back in"

[2018-11-12 15:04] tonimc commented on #33
@pksunkara any update about this?

[2018-11-12 15:05] pksunkara commented on #33
Definitely on the list, unfortunately, I need to upgrade storybook version first. Taking a bit of time. 😞

[2018-11-24 12:14] acopalipsis opened #39 "not worked with vue-cli-plugin-svg-sprite"
Not worked with [vue-cli-plugin-svg-sprite](https://github.com/swisnl/vue-cli-plugin-svg-sprite).
Demo - https://github.com/acopalipsis/svg-bug-demo
I really hope For your help.

UPDATE REPO

Module build failed (from ./node_modules/svg-sprite-loader/lib/loader.js):
ExtractPluginMissingException: svg-sprite-loader exception. svg-sprite-loader in extract mode requires the corresponding plugin

[2018-11-26 14:19] fapspirit commented on #39
Hello!
This warning happens due to `vue-cli-plugin-storybook` filtering all the plugins according to the internal list of allowed plugins. There is functionality to manually extend this list through `pluginOptions` described in [README.md](https://github.com/storybooks/vue-cli-plugin-storybook#usage), but it isn't published to npm yet.

@pksunkara can you publish it please?

[2018-11-27 09:16] romansp commented on #16
I guess I have a related issue. In my case .env variables for production mode aren't loaded into actual app, after adding storybook plugin.

Repo with this problem: https://github.com/romansp/vue-cli-plugin-storybook-env

After adding storybook plugin both `yarn build` and `yarn serve --mode production` commands stop injecting  variables defined in `.env.production`.

[2018-11-27 20:17] MansoorBashaBellary opened #40 "Missing Styles in Storybooks when used with Vue-CLI"
**Describe the bug**

Styles are missing in storybooks when used with Vue CLI. Some styles are loaded, others are not. Fonts are missing. No error messages though.

**To Reproduce**

Reproduction URL for the same is:
https://github.com/MansoorBashaBellary/vue-cli-storybook

**Expected behavior**

Storybooks shouldn't break as in the screenshot below

**Screenshots**

![screen shot 2018-11-27 at 2

[2018-12-03 16:38] baering commented on #16
Running into the same issue as @romansp describes after adding storybook plugin.

[2018-12-03 17:32] MansoorBashaBellary commented on #40
Tried to figure out root cause of this issue, but was not able to find it. But got a work around to fix this issue with `resolutions` field in `package.json` like:

"resolutions": {
  "@storybook/components": "4.1.0-alpha.2",
  "@storybook/ui": "4.1.0-alpha.2"
}

Adding above code in `package.json` fixed my issue

[2018-12-13 08:57] #35 closed

[2018-12-13 09:00] pksunkara commented on #40
I have released 0.5.0. Can you try with that?

[2018-12-13 12:14] pksunkara commented on #37
I am not sure. @rndmerle Can you test it again?

[2018-12-13 13:05] backbone87 commented on #37
the resolve works for me, i tested it with the default vue cli 3 '@' alias

[2018-12-13 13:08] backbone87 commented on #40
does not work with 0.5

[2018-12-13 13:14] backbone87 commented on #23
should work with vue cli 3 and plugin version 0.5.0

[2018-12-13 13:15] backbone87 commented on #34
invalid. your IDE even points you to your syntax mistake within the mixin file

[2018-12-13 14:24] MansoorBashaBellary commented on #40
Updating to latest 0.5.0 version is not working. On running storybooks I am getting below error:

` ERROR  command "serve:storybook" does not exist.`

[2018-12-13 14:50] backbone87 commented on #40
the command is now called "storybook:serve" but it was maybe not added, you can try unisntall the plugin via npm then reinstall via "vue add storybook"

[2018-12-13 19:49] MansoorBashaBellary commented on #40
Thank you @backbone87. Now it is working fine

[2018-12-13 20:02] backbone87 commented on #40
Also the styles? Because they are not working for me

[2018-12-13 20:07] backbone87 commented on #40
Even explicitly setting theme option changes nothing:

[code]

React devtools show me the theme variables correctly injected into the component props.

[2018-12-13 20:13] MansoorBashaBellary commented on #40
Styles are working fine for me. My package dependencies are:

    "@storybook/addon-a11y": "4.1.1",
    "@storybook/addon-knobs": "4.1.1",
    "@storybook/addon-links": "4.1.1",
    "@storybook/addon-options": "4.1.1",
    "@storybook/addon-storyshots": "4.1.1",
    "@storybook/addon-storysource": "4.1.1",
    "@storybook/addon-viewport": "4.1.1",
    "@storybook/addons": "4.1.1",
    "@storybook/

[2018-12-13 20:59] backbone87 commented on #40
ok, after adding a11y, storyshots, storysource and viewport its working, very strange. seems like there are some dependency hell goin on

[2018-12-13 21:01] MansoorBashaBellary commented on #40
Yes. Thats true. Dependency hell is a lot in storybooks.

[2018-12-13 21:45] rndmerle commented on #37
Yea default @ alias is working. What's not copied it seems are custom `configureWebpack` properties from vue.config.js
Here is a repo for reproduction: https://github.com/rndmerle/repro-vue-cli-plugin-storybook

Points of interest:
- "~" alias configured in vue.config.js and tsconfig.js.
- hints:false in vue.config.js
- MyButton.vue is imported with "~" alias from HelloWorld.vue and from index.sto

[2018-12-14 11:13] #38 closed

[2018-12-14 17:31] #40 closed

[2018-12-14 23:51] backbone87 commented on #40
hm, why close? does this work now out of the box?

[2018-12-25 03:03] anhmv commented on #27
This issue was fixed in v0.5.0

[2018-12-25 04:00] #27 closed

[2019-01-16 17:14] nidkil commented on #23
Where is the storybook `webpack.json` file located that the above `stylus-loader` needs to be added to?

[2019-01-17 08:45] nidkil commented on #23
Figured out I need to add `webpack.config.js` to the `config.storybook` directory with the following contents:

[code]

Now the project does compile succesfully, but the styles are still not work. I'm using the a la carte setup of Vuetify. Any suggestions?

[2019-01-25 15:36] nickforddesign opened #43 "Lint command in generator does not lint /storybook directory"
After installing, the generator runs the vue cli lint service. However, it only lint the default vue directories, /src and /tests, it does not lint /storybook.

I'm currently trying to solve this problem for my own unrelated CLI plugin, so I'm very interesting to see any ideas. If I come up with anything I will comment here as well.

https://github.com/vuejs/vue-cli/blob/dev/packages/%40vue/cli-pl

[2019-01-25 18:32] pksunkara commented on #13
https://medium.com/@almeynman/setup-vue-with-storybook-using-vue-cli-3-0-typescript-example-1be64a7cc7ac

[2019-01-25 18:39] pksunkara commented on #40
@backbone87 do you think you can pinpoint why this is occuring?

[2019-01-25 19:13] nickforddesign commented on #43
Just got a reply about this from @LinusBorg

https://forum.vuejs.org/t/lint-entire-project/54797

[2019-01-26 19:15] backbone87 commented on #40
I think my problem was npm related

[2019-01-29 09:44] #37 closed

[2019-02-06 22:10] nickforddesign opened #44 "Plugin filtering issue"
Readme says all plugins included via `configureWebpack` will not be filtered, but given the following vue.config.js:

[code]

`process.env.TESTING` is undefined in storybook, but working in my Vue app. The mapbox plugin is also undefined.

[2019-02-07 02:04] pksunkara commented on #44
I am not sure about the environment plugin. https://github.com/storybooks/vue-cli-plugin-storybook/issues/16

But the other plugin should be there though. https://github.com/storybooks/vue-cli-plugin-storybook/pull/42. /cc @jimvandervoort

[2019-02-07 15:44] nickforddesign commented on #44
@pksunkara Oh I see what's happening, you merged in that PR but haven't published the update to npm yet. I just tried to update the plugin but the changes aren't there yet.

Can you publish the new update please? Thanks!

[2019-02-07 15:52] pksunkara commented on #44
Released. Could you check if this works now?

[2019-02-07 16:50] nickforddesign commented on #44
🎉 That fixed both problems! Thank you so much!

[2019-02-07 16:50] #44 closed

[2019-02-11 00:07] pksunkara commented on #39
This was done long ago. Should work now.

[2019-02-11 00:07] #39 closed

[2019-02-11 00:07] pksunkara commented on #34
Can you give me a valid example?

[2019-02-13 03:09] loklaan opened #45 "Vue Command option's aren't being honored"
Hey folks, first up thanks for making this CLI Plugin!

## Scenario

Invoking the `storybook:serve` or `storybook:build` vue commands programatically, with specific command options, isn't currently possible because those options _are not passed_ to storybook's `buildDev`/`buildStatic`.

## Solution

Pass the options, which are given to the third `api.registerCommand` cb param, over to the `storybo

[2019-02-13 11:54] #45 closed

[2019-02-19 16:27] nickforddesign opened #47 "Doesn't add @storybook/vue to devDependencies?"
Seems wrong for this plugin to not add `@storybook/vue` to devDependencies. It gets installed because it's a dependency of this plugin but it's not actually saved to the new project, so if you have to delete `node_modules` and reinstall, your project is broken.

[2019-02-20 01:55] pksunkara commented on #47
This plugin would add itself to devDependencies. So, if you reinstall node modules, then `@storybook/vue` would still be installed because it's a dependency of this plugin. I don't understand why the issue is occurring for you.

[2019-02-27 09:32] rperello opened #48 "On 0.5.1 and 0.5.2, serve storybook generates a webpack error"
Thanks for your work

Error trace:

ERR! WebpackOptionsValidationError: Invalid configuration object. Webpack has been initialised using a configuration object that does not match the API schema.
ERR!  - configuration.plugins[9] should be one of these:
ERR!    object { apply, … } | function
ERR!    -> Plugin of type object or instanceof Function
ERR!    Details:
ERR!     * configuration.plugins[9]

[2019-02-27 13:09] pksunkara commented on #48
What was your setup?

[2019-03-05 02:28] backbone87 commented on #1
i would recommend against vueStorybook in its current form. while its a neat feature, the way its implementated seems rather inflexible.

[2019-03-07 06:46] HerrBertling opened #51 "Update to Storybook 5.0"
Hey!

I'd like to provide a pull request updating Storybook to the latest version 5.

Would you be open to that?

[2019-03-07 06:50] HerrBertling commented on #51
I literally slept through this PR: https://github.com/storybooks/vue-cli-plugin-storybook/pull/49

Closing here! 😆

[2019-03-07 06:50] #51 closed

[2019-03-08 15:22] jsilva-pt opened #52 "Storybook 5"
Hello :)

I was just trying to update my project to the last version of Storybook and found out that the support was added only in master branch.

Any plan to release this?

Until ther I'm using master branch directly:
`"vue-cli-plugin-storybook": "storybooks/vue-cli-plugin-storybook#master",`

[2019-03-09 16:26] pksunkara commented on #52
Plugin version 0.6.0 with storybook 5 is now published

[2019-03-09 16:26] #52 closed

[2019-03-09 16:27] pksunkara commented on #47
@nickforddesign Any update on this? I will close this soon if none.

[2019-03-09 16:27] pksunkara commented on #48
Any update on this? I will close this soon if none.

[2019-03-09 16:53] rperello commented on #48
A vue inspect will be enough info?

El sáb., 9 mar. 2019 17:27, Pavan Kumar Sunkara <notifications@github.com>
escribió:

[2019-03-09 16:54] pksunkara commented on #48
Maybe. But let's start with that

On Sat, Mar 9, 2019, 17:53 Rafael Perelló Rowley <notifications@github.com>
wrote:

[2019-03-09 19:34] rperello commented on #48
Ok, on monday i will send It.

El sáb., 9 mar. 2019 17:54, Pavan Kumar Sunkara <notifications@github.com>
escribió:

[2019-03-10 00:25] backbone87 commented on #47
there is a certain point to this and while adding @storybook/vue to devDeps would work, i dont think this is the best approach. the thing is that you do direct imports on @storybook/vue in your stories/config, so in an ideal world you should add it to the deps. the way i would go, is to reexport the @storybook/vue stuff from the plugin, so you would import from the plugin not @storybook/vue, but t

[2019-03-10 00:57] backbone87 commented on #47
if we go for the reexport version, i would wait until the TS migration is done for storybook so its easier to reexport the needed types too

[2019-03-10 00:58] backbone87 commented on #43
yeah the lint command is a pretty naive impl on vue's side and they never react to PRs in time. i wanted to change the way it detects what to lint, like default tslint does, but they never reply to issues or accept PRs, so whatever

[2019-03-10 01:04] #43 closed

[2019-03-10 01:09] backbone87 commented on #33
see https://github.com/storybooks/storybook/tree/master/addons/storysource#getting-started

you are missing the webpack rule, to actually parse the source of the story.

`vue.config.js`:
[code]

idk, if we want to integrate this into the plugin and check for the existance of the storysource addon.

[2019-03-10 01:15] backbone87 commented on #34
i am going to close because no response and the error seems unrelated to storybook or this plugin, feel free to reopen

[2019-03-10 01:15] #34 closed

[2019-03-10 01:19] backbone87 commented on #23
@nidkil great work! from your experience setting this up, do you have any recommendations what should be improved in the plugin to ease the usage within such a setup?

[2019-03-10 04:36] backbone87 opened #53 "Projekt layout (remove the config subdir)"
Is there any particular reason why the additional config dir is added insteadof just a project level storybook dir? AFAIK vue-cli doesnt promote the usage of a config dir. If we decide to do this, it would make sense to also change the storybook-static dir to storybook/dist to be in line with vue-cli's project layout.

[2019-03-11 08:40] jsilva-pt commented on #52
Thanks ;)

[2019-03-11 14:39] nickforddesign commented on #47
yeah that was pretty much the issue. having to include
[code]
is a hacky workaround, and I am 99% sure that when I reinstalled node dependencies that `@storybook/vue` was not installed.

[2019-03-12 21:38] rperello commented on #48
Close it. Now show another error.

El sáb., 9 mar. 2019 20:34, Rafael Perelló <rperellorow@gmail.com> escribió:

[2019-03-13 08:27] #48 closed

[2019-03-15 14:19] salvadordiaz opened #54 "Fresh install fails with several errors"
**Environment**:
[code]
All of this on the latest ubuntu version.

**Steps to reproduce:**
* Create a minimal vue project with vue-cli: `vue create myproject`
* Add storybook plugin: `vue add storybook`
* Run `yarn storybook:serve` or `yarn storybook:build`

The project created using these steps can be found at https://github.com/salvadordiaz/bug-storybook-vue-cli-plugin. Just checkout and run `ya

[2019-03-15 20:08] backbone87 commented on #54
Can you check, if there is an emotion-theming package inside your node_modules? There were several issues reported regarding this package inside the storybook main repo for v5. Check these out

[2019-03-15 21:59] dylanbhughes opened #55 "`npm run storybook:serve` fails on fresh install"
[code]
`vue version 2.6.9`

`npm run storybook:serve` runs, but the resulting page is blank and has the following error in chrome console.

Error:
[code]

[code]

[2019-03-15 23:10] dylanbhughes commented on #55
Went to see if a fresh CLI project would fail. It does as well: https://github.com/dylanbhughes/test, same error

[2019-03-16 13:52] LinusBorg commented on #54
Have the same issue and can confirm that `emotion-theming` is *not* in my`/node_modules`.

After installing it, the project compiles successfully, but now I see these errors in the browser console:

<img width="842" alt="Bildschirmfoto 2019-03-16 um 14 51 22" src="https://user-images.githubusercontent.com/1444526/54476212-005d7900-47fb-11e9-9c48-1abf4dfc0a72.png">

I'm not very familiar with React

[2019-03-16 17:04] backbone87 commented on #54
i have found the problem, i forgot to update the constraints for the injected dependencies @ https://github.com/storybooks/vue-cli-plugin-storybook/blob/master/generator/index.js#L12

setting them to `^5.0` and updating them, works for me.

i will create a PR to fix.

@LinusBorg do you know how vue cli handles updates of plugins? are the dependencies injected into the package.json updated too?

[2019-03-16 17:11] LinusBorg commented on #54
Those are not updated unless you would run the generator again with `vue invoke storybook` - which, as it is, would also re-create the initial boilerplate.

I guess a prompt could be added that asks if only deps should be updated or something ...

[2019-03-16 23:37] #54 closed

[2019-03-16 23:39] pksunkara commented on #54
@LinusBorg I had worked on a hook proposal and also asked about the update delivery solution long back ago regarding vue cli. I would like to raise this once more. The current vue cli plugin system is very simplistic and is not sustainable. It needs more work and my PR's are kept pending without any core member looking at it.

[2019-03-16 23:40] #55 closed

[2019-03-16 23:42] pksunkara commented on #53
I didn't like the project level storybook dir. I actually prefer the `src/stories`, but the storybook config still needed to exist somewhere.

[2019-03-17 06:50] backbone87 commented on #53
i am fine with `src/stories` for the proposed place for stories by the generator, this can be changed easily anyway.

this is just about the config dir and storybook-static dir.

@LinusBorg as a vue expert, what is your recommendation?

[2019-03-17 08:00] LinusBorg commented on #54
We are now planning a new major, please comment here.

https://github.com/vuejs/vue-cli/issues/3649

[2019-04-17 19:43] Karabur opened #57 "Only some properties of vue's webpack config merged."
There are explicit set of vue's config which is merged to storybook's default config.
This leads to be impossible to control any fields apart from **module**, **plugins**, **resolve** and **resolveLoader**.

For example, **output** section is quite important as vue has well-known sourcemap issues which require custom setup.

Is there any reason why we just dont merge everything from vue's config?

[2019-04-17 19:46] pksunkara commented on #57
I would actually like to do it that anyway. I thought the current code helps it, but I am okay to any new ideas which improve it.

[2019-04-17 20:15] backbone87 commented on #57
Maybe the other way around is more useful: Extend the vue cli webpack config with everything needed to run storybook

[2019-04-25 07:49] miljan-aleksic commented on #57
I run into this limitation when trying to add `externals`, its quite imperative to have full control, one way or another.

[2019-05-01 08:17] vesper8 opened #58 "what is advantage of installing this over installing @storybook/vue directly?"
Sorry if this is obvious but I'm having a hard time understanding why someone should use this as opposed to installing and configuring @storybook/vue without the use of this plugin.. what advantage or conveniences does using the plugin provide? Rather, what are the pros and cons?

Thank you

[2019-05-01 12:38] elevatebart commented on #58
This will do most of the config for you.
It will create a `.storybook` directory, set up the necessary plugins so that you re immediately ready to go. If you already are using `@storybook/vue` it might be an unnecessary step.

Does this help?

[2019-05-01 13:13] vesper8 commented on #58
yes thank you..

I received an unusual error when I tried adding the plugin

[code]

So I ended up adding it manually to my package.json, which installed it but did not do this auto-configuration you speak of

So I ended up removing it and installing `@storybook/vue` directly and settings up the config and folders manually.. a bit more tedious but I got it working

[2019-05-01 13:13] #58 closed

[2019-05-02 07:39] backbone87 commented on #58
the generator (default setup etc) is only run if you install the package via vue-cli.

[2019-05-04 16:11] omarcresp opened #59 "Storybook don't build"
config/storybook/config.js
[code]
src/stories/index.stories.js
[code]

storybook:serve works whitout problems but storybook:build don't work. It compile but the `iframe.html` only show a message
[code]
I don't have errors on build time
I don't have errors in browser console

[2019-05-09 07:27] StarHosea opened #60 "knobs and action does not work fine"
addon-knobs does not work fine,
## reproduce
1. my storybook's `addons.js`
[code]
2. `MessageCard .stories.js`
[code]
## problems

action doesn't triggerd in storybook web panel

[2019-05-09 07:36] StarHosea commented on #60
It's my fault

[2019-05-09 07:36] #60 closed

[2019-05-17 09:48] mmintel opened #61 "How to use with style-resources-loader?"
Hi there,
I tried to load SCSS stylesheets upfront, which works quite fine in my Vue app but doesn't work for storybook, no error message, no nothing so far.

I tried adding it in the `webpack.config.js` until I read here that this is not needed anymore. Then I tried passing it into my `vue.config.js` like this:

[code]

also no success. Any ideas?

[2019-05-18 11:46] pksunkara commented on #59
This is with the latest version?

[2019-05-18 11:47] pksunkara commented on #61
@mmintel Can I have an example repo to work with?

[2019-05-24 07:17] yafukumo opened #62 "Can not install"
When you execute vue add storybook command, the following error is displayed and installation fails.

[code]

[2019-05-25 21:19] omarcresp commented on #59
Yes

[2019-06-04 12:12] KyrieChen opened #64 "no-error when running storybook serve"
Hi, thanks a lot for your plugin!

I create a test project with `typescript` by
[code]
and add
[code]

I make something error deliberately in my project by set
[code]
in `tscofig.json`.

When i run
[code]
my expection is log some WARNING like:
[code]

However, it log:
![image](https://user-images.githubusercontent.com/13793973/58877359-0e88aa80-8703-11e9-8301-a180f1cb8ac9.png)

It will log error i

[2019-06-04 21:43] noelheesen opened #65 "How to know when custom webpack config is invoked from storybook:serve/build?"
Hello,

In the option `chainWebpack` in `vue.config.js` I have certain plugins I only want to include when running storybook. How can I know it's the storybook serve/build command?

I have modified the tasks in node_modules to add `process.env.VUE_CLI_STORYBOOK = 'serve' || 'build'` which I can read from the chainWebpack fn.

Would you consider adding an env var which indicates the storybook proce

[2019-06-06 16:38] mmintel commented on #61
@pksunkara sure thing! sorry for late response: https://github.com/mmintel/uikit

[2019-06-12 11:48] bodograumann opened #66 "Babel is a requirement"
For testing purposes I have created a minimal vue-cli v3 project (i.e. without babel). Running `vue add storybook` and trying to `npm run storybook:serve` gives me the following error:

[code]

[2019-06-12 11:58] bodograumann opened #67 "Port selection is incomplete"
When the default storybook port `6006` is in use, `storybook:serve` suggests using the next best port (`6007`). Unfortunately when I confirm that new port, storybook is still started on port `6006` and then fails.

[code]

[2019-06-12 11:59] bodograumann commented on #67
Running it as `npm run storybook:serve -- -p 6007` works though.

[2019-06-26 13:07] #66 closed

[2019-06-26 13:10] pksunkara commented on #62
This should be solved now.

[2019-06-26 13:10] #62 closed

[2019-06-26 13:47] pksunkara commented on #67
This is because of #46 by @loklaan. Our own argv parse is overriding storybook's parse of argv with [these](https://github.com/storybookjs/storybook/blob/9ea67ad0e67b88b02b2f0960249d800a8a605017/lib/core/src/server/build-dev.js#L343) lines. The actual new port will be present in `cliOptions` according to logic [here](https://github.com/storybookjs/storybook/blob/master/lib/core/src/server/cli/dev.

[2019-06-26 20:04] loklaan commented on #67
Thanks for the investigation here @pksunkara!

I think this can be categorised as a bug in storybook.

The **free-port logic** should genuinely be happening _after_ the port is resolved from both the argv and load options of storybook, rather than just against the port from argv...

But by now, this unideal behaviour might be relied on by storybook users. I'd suggest [opening an issue in storybook

[2019-07-01 07:46] bodograumann commented on #67
Ok, so let me just sum up what is happening, because it took me some time to understand.

1. `vue-cli-plugin-storybook` is reading port `6006` from the the command line arguments.
2. It calls `buildDev` of `storybook` with the port in the `loadOptions`.
3. `storybook` is reading port `6006` from the command line arguments in `getCLI`.
4. It determines that the port is not free and asks to change i

[2019-07-01 09:05] pksunkara commented on #67
I have created a PR to fix this in Storybook.

[2019-07-01 12:56] #67 closed

[2019-07-03 04:56] PenAndPapers opened #68 "How to use vue cli --modern when building/compiling storybook"
Hi everyone, I'm new to storybook. Recently I've found out that my storybook is not displaying in IE. I've found out that vue cli has the ability to support older browser by enabling the modern mode.
[](https://cli.vuejs.org/guide/browser-compatibility.html#modern-mode)

So my question is can I use the **--modern** flag when building storybook in order support older browsers? Or is there a better

[2019-07-07 14:11] gsaada opened #69 "Load svg using vue-svg-loader not working"
.storybook/webpack.config.js
[code]

index.vue
[code]

error:
`
[Vue warn]: Invalid Component definition: static/media/test-icon.d9ed9e17.svg
`

[2019-07-09 22:10] fernandoagarcia opened #70 "Using the latest version 5.1.9 of Storybook"
Is it possible to use a specific version of Storybook?  I am trying some addons that are only working on the latest 5.1.9 because of some core-js dependency. I've testing the direct install and the addons work fine. However using this plugin it seems to fail on serve.

[2019-07-09 22:11] pksunkara commented on #70
You have to be more clear. I don't understand your setup from your message. I am currently using storybook 5.1.9 with this plugin and it's working for me.

[2019-07-09 22:27] fernandoagarcia commented on #70
@pksunkara thanks for the reply. I'm using vue-cli-plugin-storybook 0.6.1 and you are correct it is using Storybook 5.1.9.

The issue I'm having is when I use the addon '@storybook/addon-viewport' Storybook fails with:
`Module not found: Error: Can't resolve 'core-js/modules/es.array.concat' in`

[2019-07-09 22:29] pksunkara commented on #70
Ideally it should not be an issue. But what this plugin does is that it uses your vue project webpack config as a starter. You need to upgrade your vue-cli deps to 4.0.0-alpha.4 which has core-js stuff.

[2019-07-09 22:58] fernandoagarcia commented on #70
@pksunkara just updated on all of my packages with code-js ^3.1.2 and I am now using 4.0.0-alpha.4

but still getting the same error:

`Module not found: Error: Can't resolve 'core-js/modules/es.array.concat' in '/Users/fernandogarcia/git/fox/webpack/node_modules/@storybook/addon-viewport/dist'`

Found an issue posted on : [`Storybook's Gihub`](https://github.com/storybookjs/storybook/issues/7090)

[2019-07-09 23:24] fernandoagarcia commented on #70
@pksunkara So a quick correction. I keep getting 5.0.11 installed which is why the addon was failing. I tried re-invoking the generator for this vue cli plugin and I can't seem to get 5.1.9 installed.

`
Storybook 5.0.11 started                         │
│   9.46 s for manager and 10 s for preview          │
│                                                    │
│   Local:            http://localh

[2019-07-10 05:25] pksunkara commented on #70
Check your yarn.lock or package-lock.json. Also make sure you have storybook@5.1.9 in your package.json

[2019-07-10 16:27] fernandoagarcia commented on #70
@pksunkara  I deleted my yarn.lock but also had to run `vue add vue-cli-plugin-storybook` again so it would install the deps. Now it is working @5.1.9 with all the addons. Thank you for your help.

[2019-07-10 16:27] #70 closed

[2019-07-24 07:35] AstiV commented on #59
I am facing a similar issue using storybook/html. I am following the manual setup guide and while using the following example in `config.js` works fine:
`import { configure } from '@storybook/html';

function loadStories() {
  require('../stories/index.js');
  // You can require as many stories as you need.
}

configure(loadStories, module);`

The next example does throw the above mentioned error

[2019-07-24 07:52] AstiV commented on #59
Update: Just found my mistake...
The regex in the second example: `/\.stories\.js$/` does not work for the file named `index.js`...
but the file should be named `index.stories.js`.

Maybe a line about this in the documentation would help other beginners prevent the issue.

[2019-08-02 13:04] supermonkeyz commented on #47
Maybe put `@storybook/vue` outside plugin is better? if i want upgrade `@storybook/vue`，i must remove `@storybook` from  plugin's node_modules

[2019-08-06 23:20] fernandoagarcia opened #71 "Allow user to set storybook version in the CLI"
I was interested in trying out some of the new addons for Storybook in 5.2.0-beta. Is it possible to use that storybook version with this CLI Plugin?

[2019-08-21 15:28] HerrBertling commented on #71
Ha, I came here to ask this :) I'd like to test the new Component Story Format within an existing setup using this plugin.

[2019-09-05 10:34] Emobe commented on #71
It would be nice to be able to specify a version in the CLI

[2019-09-06 20:09] node-ex commented on #71
I think I have a temporary solution, until this plugin is officially updated (presumably when storybook 5.2 will be officially released). I have forked this repo and updated versions of storybook related packages in `package.json` and `preset.js`. The repo is: https://github.com/node-ex/vue-cli-plugin-storybook

Steps:

[code]

You can fork the original repository and follow the provided steps as

[2019-09-06 20:11] pksunkara commented on #71
Unfortunately, I think the correct way to do this would be what @Emobe said:

[2019-09-06 20:23] node-ex commented on #71
@pksunkara I totally agree, but OP wanted to try out new addons and provided hack should be sufficient

[2019-09-10 10:07] Emobe commented on #71
@node-ex Thanks, this works perfectly for the meantime.

[2019-09-10 12:29] crusenov commented on #71
@node-ex I had an error in step 2. Any idea?
![screenT1](https://user-images.githubusercontent.com/6793343/64613838-cc48c680-d3df-11e9-8799-c6723f6289e5.png)

[2019-09-10 12:31] crusenov commented on #71
@node-ex I had an error in step 2 when trying to install from your repo. Any idea?
![screenTT](https://user-images.githubusercontent.com/6793343/64613962-0e720800-d3e0-11e9-9a4b-8d0b73a40c8a.png)

[2019-09-11 21:27] node-ex commented on #71
@crusenov It is just a guess, but `npm install` command contains SSH link to a particular release of the GitHub repository. It is possible, that you did not add your public SSH key to your GitHub account, you can find more information here: https://help.github.com/en/articles/connecting-to-github-with-ssh

Maybe it is possible to make this work with an HTTP protocol, but I did not test it.

[2019-09-18 12:24] crusenov opened #72 "Static build has failed"
@pksunkara During static build [](https://storybook.js.org/docs/basics/exporting-storybook/l) I have problems with importing files with @ in my project. (Module not found: Error: Can't resolve '@/.../some-path'). After adding webpack config - config.resolve.alias['@'] = path.resolve('src') there are errors related with importing stylus files. Any idea?

[2019-09-24 12:03] ndelangen commented on #71
Should we just update the dependencies now 5.2 is released as latest?

[2019-09-26 08:41] crusenov commented on #23
@nidkil I have similar problems with vue-loader and stylus loader. I'm using vue-cli-plugin-storybook v0.6.1 and also vue-loader v15.7.0. I can't do static build. Any idea?

[2019-09-26 10:57] bodograumann opened #73 "Support addon-docs"
I guess this is somewhat similar to https://github.com/storybookjs/vue-cli-plugin-storybook/issues/33. Storybook 5.2 was released with the docs page in the addon-docs.

Unfortunately I was not able to get it to work in my vue-cli project. The docs suggest using a preset, but I guess that does overwrites the webpack config that vue-cli-plugin-storybook is generating.

Using the [manual setup](https

[2019-09-26 11:51] Emobe commented on #73
You can still add webpack.config.js to storybook config. Also the preset doesn't go in the webpack config, it goes into presets.js in the storybook config folder.
One problem I've come across is storybook not recognising a vue project, this plugin works with a blank vue project though so might be specific to the app I was trying.

[2019-09-26 12:16] bodograumann commented on #73
Yes, I have created the `presets.js` besides `addons.js` and `config.js`.

I guess I could create a `webpack.config.js`, but the whole point of vue-cli-plugin-storybook is that I don’t have to do that.

[2019-09-26 12:32] pksunkara commented on #73
Yeah, addon-docs is a little bit complicated. It would definitely be a feature request for this plugin to automagic it too.

[2019-09-27 08:00] Emobe commented on #73
Just tried it myself again and can confirm it isn't working. I have a feeling it will need to be loaded manually within the cli rather than using the provided preset

[2019-09-27 16:44] greenled commented on #23
@nidkil thanks a lot for the sample project. Is there any chance you could provide an update for Vuetify 2.x?

[2019-09-30 12:15] #72 closed

[2019-10-17 13:05] iliawnek opened #74 "Support for Component Story Format (CSF)"
Does this plugin support Storybook's [Component Story Format](https://storybook.js.org/docs/formats/component-story-format/)? I can't seem to get it working, even with a minimal project setup.

[code]

[2019-10-18 14:34] Swinejamin opened #75 "Support for Vue's composition API"
Not sure if this belongs here or the main storybook package.

Writing components using [the composition api](https://github.com/vuejs/composition-api) [(API Reference)](https://vue-composition-api-rfc.netlify.com/api.html#setup) breaks stories, even though the components work perfectly when running the full app normally. It appears that the `setup()` function is never called. Components will still

[2019-10-18 16:20] Swinejamin commented on #75
For anyone with a similar issue, I simply neglected to add the following to `.storybook/config.js`:

[code]

[2019-10-18 16:20] #75 closed

[2019-10-20 16:09] LeBenLeBen commented on #74
It works for me. What exactly is not working for you? Can you share some errors?

[2019-10-20 16:19] LeBenLeBen commented on #73
It works fine for me with the DocsPage preset on both Vue CLI 3 and 4. With the manual setup I came across an issue which required me to disable JSX parsing in the Vue Babel preset though (see https://github.com/storybookjs/storybook/issues/8096).

[2019-10-21 08:27] iliawnek commented on #74
[code]

1. `vue create vue-storybook-csf-test` → Babel
2. `vue add storybook` → Initial framework
3. Add `csf.stories.js` which defines a story using CSF.
4. `yarn storybook:serve`

Following these steps, I cannot see the CSF story on Storybook (only the example stories defined using `storiesOf`).

Here's a test repo: https://github.com/iliawnek/vue-storybook-csf-test

[2019-10-21 09:06] LeBenLeBen commented on #74
There's an issue with you configuration file here: https://github.com/iliawnek/vue-storybook-csf-test/blob/master/config/storybook/config.js#L4-L10

With Storybook 5.2, it must be adapted to just:

[code]

See https://storybook.js.org/docs/basics/writing-stories/#loading-stories for details.

[2019-10-21 12:07] iliawnek commented on #74
That's it working now, thanks for your help!

[2019-10-21 12:07] #74 closed

[2019-10-23 19:10] Jamiewarb commented on #61
Hey!
Any news on this at all? :)

[2019-10-23 20:42] Jamiewarb commented on #61
Adding this to webpack.config.js inside of `.storybook` seemed to work for me:

[code]

[2019-11-07 09:12] biechao opened #77 "failed to load less file in component"
When there is a less file in my component, it will report error：
ERROR in ./packages/vue-my-radio/src/vue-my-radio.less 1:0
Module parse failed: Unexpected token (1:0)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders

[2019-11-08 01:29] biechao commented on #77
For somebody use vue cli3 with storybook and only have vue.config.js in your project, you can create a webpack.config.js in .storybook folder with following content:
`module.exports = async ({ config }) => {
  config.resolve.extensions.push('.vue', '.css', '.less', '.scss', '.sass', '.html')
  config.module.rules.push({ test: /\.less$/, loaders: [ 'style-loader', 'css-loader', 'less-loader' ] });

[2019-11-08 01:29] #77 closed

[2019-11-15 19:08] jonkemp opened #78 "Support for Storybook 5.2?"
Is there a reason why this doesn't support 5.2 yet? Is there an ETA on when we might see support for 5.2? It would be really nice to have that so we can start using the new [Component Story Format](https://medium.com/storybookjs/component-story-format-66f4c32366df). Thanks!

[2019-11-17 20:31] jonkemp commented on #78
Must be something in our project that is preventing us from upgrading. I installed this in a new cue-cli project and Storybook 5.2.6 installed and works fine.

[2019-11-17 20:31] #78 closed

[2019-12-03 18:20] Aristamo opened #79 "Adding StorySource with a custom webpack throws eslint errors."
In my project I use this plugin. But for presentation purpose I want to use storysource. This throws sadly many many errors into the console due to `.eslint` rules.

This is due to the custom config I added to the storybook config section. Sadly I see no other way to include this config part into my project.

I tried to include it via the `vue.config.js` with a `chainWebpack`, like in the document

[2019-12-16 10:22] Hego2017 opened #80 "Re-render in template"
Hi!
I need to put a link that link to other component.
<li><p-button href='?path=/story/components-icon--template'>ICON</p-button></li>
If I put target="_self" the component render inside to the iframe, but the link in the browser not change.
If I put target="_top" or target="_parent" not render the template inside to the iframe.

How can I re-render in a method? Or what is the best way to do it?

[2019-12-20 08:44] Aristamo commented on #79
Found a Solution:
Instead of `config.module.rules.push(...)` you have to use `config.module.rules.unshift(...)` this prevents the errors.

[2019-12-20 08:44] #79 closed

[2019-12-23 16:19] nickeyvee opened #82 "MyButton.vue styles should be scoped"
Really just a minor inconvenience, but I encountered an issue where the styles from `MyButton.vue` where leaking into my other components.

### `MyButton.vue`
![image](https://user-images.githubusercontent.com/20284107/71368341-b2d61f80-2575-11ea-87ba-321d6b4d7d13.png)

[2019-12-23 17:05] pksunkara commented on #82
Would welcome a PR since it's very minor.

[2019-12-31 08:46] vip30 commented on #33
For preventing #79 error,

We need to add `before('vue')` in the chain webpack

[code]

[2020-01-06 03:40] pksunkara commented on #53
@backbone87 Did you come up with a structure? I am open to it.

[2020-01-06 05:09] pksunkara commented on #65
I would welcome a PR.

[2020-01-06 05:46] #71 closed

[2020-01-06 05:46] #82 closed

[2020-01-06 05:56] pksunkara commented on #71
v1 is now released which should work with any Storybook version >=4.1.0

[2020-01-06 16:47] marshallswain commented on #73
Now that it has been a few months, does anybody have Storybook Docs working with Vue-cli-plugin-storybook?

[2020-01-10 13:05] mike-skipjack commented on #73
@LeBenLeBen are you able to share a repo with us so we can see how you got vue-cli-plugin-storybook working with addon-docs?

[2020-01-12 11:16] bodograumann commented on #73
Storybook 5.3 has just been released. There are a lot of changes. These should probably be adapted in this plugin:
https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#from-version-52x-to-53x

[2020-01-13 02:16] pribilinskiy opened #84 "Compatibility with Storybook 5.3.1"
Please investigate the issue with the `undefined` package that leads to a failed compilation
[code]
Duplicate issue in storybook repo: https://github.com/storybookjs/storybook/issues/9400

[2020-01-13 05:45] pksunkara commented on #84
Fixed by v1.1.0

[2020-01-13 06:24] pksunkara commented on #47
I made @storybook/vue a peer dependency in v1. This should be solved now.

[2020-01-13 06:24] #47 closed

[2020-01-13 06:26] pksunkara commented on #59
I am closing this because there's no new info and all the tests are working.

[2020-01-13 06:26] #59 closed

[2020-01-13 09:07] pksunkara commented on #73
So, My next TODO in this project is to support Docs, Storysource & Typescript. I think the issues everyone are facing is because of Typescript interfering.

[2020-01-13 15:20] nblackburn commented on #84
@pksunkara The serve command works but the build one seems to still fail for me.

[2020-01-13 17:20] bameda commented on #84
For me too.

[2020-01-13 20:23] mediafreakch opened #85 "Prettier warnings in default installation with storybook@5.3.1"
Today I found this addon and made a fresh install using `@vue/cli@4.x`.
This is the preset I used:

[code]

I then run `npm run storybook:serve` which got me here (many more warnings, just an excerpt):

[code]

Not sure if the source of this evil is within this plugin. I just wanted to let you know.
I made those warnings go away by adding the following to my `vue.config.js`:

[code]

[2020-01-13 21:24] travis-w opened #86 "No longer using css prepend data in vue.config.js"
I was just setting up a project and used this plugin (v1.1.0), it seems that the css

[2020-01-13 21:29] pksunkara commented on #86
Try using Storybook@5.2.x. If you set the project as new, it would install storybook 5.3

[2020-01-13 23:03] Aaron-Pool commented on #73
Hey all, I'm a contributor to storybook that helps with some of the vue maintenance things. Created this a while back (on 5.2), in case it helps. It's a working example with both vue-cli, this plugin, typescript, and docs.

https://github.com/Aaron-Pool/Vue-Cli-Storybook-Docs

[2020-01-14 13:50] travis-w commented on #86
When I specified ~5.2.0 for the versioning, the plugin still generates the config as if its trying to set up 5.3.x with just main.js

[2020-01-14 14:49] travis-w commented on #86
UPDATE: So, I'm not sure if this is an issue with the plugin or not, but it looks like the prependData is getting loaded (with storybook 5.3) if I have a preview.js and inside that preview.js file I import an empty sass file.

[2020-01-14 15:04] mediafreakch commented on #85
It seems the issue was resolved in [5.3.3](https://github.com/storybookjs/storybook/blob/next/CHANGELOG.md#533-january-14-2020)

[2020-01-14 15:04] #85 closed

[2020-01-14 16:04] pksunkara commented on #86
Can you give me an example repo so that I can experiment with the preview.js file and check whats happening?

[2020-01-14 16:26] travis-w commented on #86
Here is a quick repo with the issue: https://github.com/travis-w/storybook-plugin-issue

I just generated a vue project, added storybook via plugin. Then added the prependData in vue.config.js and created preview.js and styles.scss in config/storybook.

Let me know if you need anything else.

[2020-01-15 07:08] pksunkara commented on #73
Thanks @Aaron-Pool for giving me the start, but I fixed the issue in your repo where JSX is not allowed. Will be releasing as 1.2.0 in a few minutes once I make sure tests pass.

[2020-01-15 07:27] pksunkara commented on #84
I can confirm that build is failing.

[code]

[2020-01-15 07:31] pksunkara commented on #33
This should work simply now since it is now an addon and Storybook 5.3 is released. https://github.com/storybookjs/storybook/tree/v5.3.3/addons/storysource#install-using-preset

You don't need any special config for this.

[2020-01-15 07:31] #33 closed

[2020-01-15 07:32] pksunkara commented on #80
This is question for Storybook. Transferring it there.

[2020-01-15 07:38] shilman commented on #84
@pksunkara This comes from the use of `webpack-virtual-modules`, which is part of the `main.js` implementation, new in 5.3:

https://github.com/storybookjs/storybook/blob/next/lib/core/src/server/preview/iframe-webpack.config.js#L52-L58

@ndelangen knows the details, but maybe that's enough to help get you unstuck?

[2020-01-15 13:06] Aaron-Pool commented on #73
Right. I've actually found a work around for that issue myself since I created that issue. I should probably update it at some point.

[2020-01-15 14:18] pksunkara commented on #73
I assume the solution you found is the same as mine, sending `babelOptions` to `addon-docs`.

[2020-01-15 16:49] Aaron-Pool commented on #73
@pksunkara Actually, no, the problem was simply the order and `rule` regex for the vue preset.

Check here https://github.com/Aaron-Pool/storybook-mdx-vue-example/blob/master/.storybook/main.js

[2020-01-15 16:52] mediafreakch opened #87 "[Docs] Clarify allowedPlugins option"
From the README:

[code]

What do you mean by `name`? Is it the package name?
I tried to allow `vuetify-loader`, but the plugin is deleted from the config eventually.

[2020-01-15 19:05] #84 closed

[2020-01-15 19:10] pksunkara commented on #84
Looks like thread-loader is having issue with the virtual-module-webpack-plugin. Should have realized with the error message, but I was at the end of a long debugging session. Thanks @shilman

[2020-01-15 19:18] #65 closed

[2020-01-15 19:31] #64 closed

[2020-01-15 20:39] #19 closed

[2020-01-15 20:39] #87 closed

[2020-01-15 21:38] pksunkara commented on #13
Can anyone tell me if I can consider this closed since 1.2.0 is released? Or is there anything left to do?

[2020-01-15 21:57] pksunkara commented on #73
So, I released 1.2.0 with the `babelOptions` fix. But it still doesn't support the following format in MDX:

[code]

I am still looking at @Aaron-Pool's fix above and trying to understand what the issue is.

[2020-01-15 22:46] Aaron-Pool commented on #73
@pksunkara to use inline Jsx two conditions need to be met, and they're oddly contradictory.

1) the internal element needs to be a `React.Element`, because that's what MDX supports natively. It doesn't understand the vue version of jsx.
2) the only permitted contents of the `<Story>` block when `addon-docs` is used with `@storybook/vue` is a _vue component_.

The first condition can be solved pre

[2020-01-15 23:23] pksunkara commented on #73
@Aaron-Pool Thanks for the explanation. That clears a few things up.

The `babelOptions` fix allows the following to work:

[code]

Looks like I don't even need to write the `toReact` part. `RHelloWorld` already exists 😄

Why doesn't the following work though?

[code]

I guess the MDX loader converts the JSX inside `render()` to react.

[2020-01-16 00:26] Aaron-Pool commented on #73
@pksunkara that's correct. Using Vue jsx and react jsx on the same page would require some sort of Babel plugin that scoped the Vue jsx transpilation just to a `<Story/>` block. I'm pretty confident that's actually possible, but it wasn't something I've had the opportunity to do so far.

[2020-01-16 00:39] shilman commented on #73
Awesome to see progress on this guys!! 😍

@Aaron-Pool Re: Your suggestion that people use Vue JSX OUTSIDE of stories, I'd almost certainly reject that idea as a final solution for 6.0. Stories are not just things that show up in the sidebar: they are the foundation for the entire storybook ecosystem of of addons/integrations, and I wouldn't want to undermine that in any way. That said, I'm happy t

[2020-01-16 00:44] marshallswain commented on #73
Is it possible to work around the JSX parsing conflict by importing a story from a separate module?

[code]

[2020-01-16 00:54] Aaron-Pool commented on #73
Yes! But you're gonna just want to reference it by id. Syntax is something like `<Story id="category--storyName">`.

[2020-01-16 05:46] mediafreakch commented on #87
Thanks, `VuetifyLoaderPlugin` it was for my case then.

[2020-02-13 13:44] bodograumann opened #90 "Migration should install @storybook/vue"
In commit https://github.com/storybookjs/vue-cli-plugin-storybook/commit/fd843e16f202317debd658de42bdd61c9ab747d5 you changed `@storybook/vue` to a peer dependency.
I just ran `vue upgrade` to update the vue plugins and after that found out that `@storybook/vue` is not installed anymore. You should install it during the `vue upgrade` process, if it is not already installed.

[2020-02-13 14:14] pksunkara commented on #90
Hmm.. I should have. But it is also the reason I bumped version to 1

[2020-02-17 14:24] LeBenLeBen opened #91 "Allow --docs flag in build script"
Storybook accepts a `--docs` flag in its native build script to build only the `docs` views and not the canvas. It would be great that this plugin allow to pass this flag and forward it to Storybook.

Reference: https://github.com/storybookjs/storybook/blob/d1196f73767caaa724a6984ef7409748e0329075/lib/core/src/server/cli/prod.js#L23

[2020-02-17 15:58] pksunkara commented on #91
PRs are welcome, it should be a very easy fix

[2020-02-17 19:55] #91 closed

[2020-03-03 13:49] bameda opened #93 "Only loaded .env environment variables and not other files (with .mode and/or .local)"
In my vue project, environment variables are only loaded from `.env` and the rest of file `.env{.mode}{.local}` are ignored.

There is a test project here (https://github.com/bameda/test-vue-with-storybook) to reproduce the bug.

I've created two files:
[code]

[code]
When you click `MyButton`, you obtain two different results:

- With `yarn run serve`
  ![image](https://user-images.githubusercont

[2020-03-04 12:59] MatthijsBe opened #94 "vue add storybook command gives Error: EPERM"
Hi everyone,

I'm trying to add `vue add storybook` so I can use Storybook Docs and MDX.

When running the command:

✔  Successfully installed plugin: vue-cli-plugin-storybook

so far so good, now it's time for some options:

[code]
And then:

[code]

Somehow it wants to look inside my .svn folder, is there any work around? or possible fix?

I've tried, npm cache clean, removed node_modules and re

[2020-03-04 13:00] pksunkara commented on #94
I think it might be a vue-cli issue. Can you install other plugins?

On Wed, Mar 4, 2020, 13:59 MatthijsBe <notifications@github.com> wrote:

[2020-03-04 13:07] MatthijsBe commented on #94
@pksunkara Hmm I think you're right tried with `vue add apollo` this will give the same error.

I will try another vue cli version, thanks in advance :)

[2020-03-04 13:08] #94 closed

[2020-03-13 17:39] findingorder opened #95 "Error from vue add storybook"
Hello,
I ran "vue add storybook" from the directory in which my vue-cli project is located.  It installed a lot of stuff, but ended with the error message:

[code]

Could you please help me resolve this?

[2020-03-13 17:41] pksunkara commented on #95
It should be installed correctly. This is just your linter complaining. Don't you have eslint installed?

[2020-03-18 15:37] dnasir opened #96 "How to get translations within <i18n> blocks to work?"
As the title suggests, I have my localisation texts located inside the components they are associated with. For example;

[code]

When I load up Storybook, the translations don't show up. Instead I just get the key for the translation.

This works fine in the app.

[2020-03-19 07:31] pksunkara commented on #96
Are you sure this is not an issue in Storybook?

[2020-03-19 07:53] dnasir commented on #96
You're right. I assumed it was a compilation time thing, which is why I posted the issue here. The solution has been posted here: https://github.com/dlucian/vuejs-storybook-i18n/issues/1#issuecomment-587607439

[2020-03-19 07:53] #96 closed

[2020-03-21 20:15] pksunkara commented on #93
It looks a storybook bug. I did some work on storybook env loading, but it is a bit complicated. Can you try to reproduce it without using this plugin?

[2020-03-25 17:16] LeBenLeBen commented on #95
@pksunkara I also encountered this issue once, removed the line and it worked. But I'm wondering why you need this? It's a rule from `eslint-plugin-import` and not everybody have it installed. My guess is that this error would happen to a lot of users.

[2020-03-25 17:27] LeBenLeBen commented on #69
@gsaada There are existing rules that test for `/\.vue$/` or `/\.svg$/` files like you do and my guess is that they are conflicting. You should leverage Webpack include/exclude rule parameters to avoid conflicts.

Here’s an example on how to modify an existing rule in Storybook Webpack config to add an `exclude` option:

[code]

[2020-03-25 21:12] pksunkara commented on #95
So, the fix for this is that eslint feature needs to be checked before generating.

[2020-03-30 07:25] bameda commented on #93
I don't now, but environment variables works properly

[code]

[2020-04-01 17:42] pksunkara commented on #93
Yup, looks like definitely a storybook bug. @ndelangen Do you know if anything related env was changed recently?

[2020-04-01 22:47] #95 closed

[2020-04-03 10:34] ndelangen commented on #93
It would help to know the version this bug appears on?

[2020-04-04 18:13] skattabrain opened #98 "Unable to load images with a vanilla setup"
Not sure what I'm doing wrong, I'm still in pretty vanilla install of Vue CLI and this plugin, but I'm unable to load images.

The main (default) Vue app is able to serve the sample App with the Vue logo, but I'm unable to load the same asset in a story when running my storybook server.

I have no custom vue.config and here's my /config/storybook/main.js...

[code]

my package.json...

[code]

her

[2020-04-04 21:14] skattabrain commented on #98
By the way, I appreciate this project! Having done Vue/Storybook the hard way the past couple years at work, it's nice to just add a package and get productive.

[2020-04-04 21:35] skattabrain commented on #98
Sorry, my bad! I couldn't use images in my templateDecorator! In the component it is fine.

[2020-04-04 21:35] #98 closed

[2020-04-05 10:44] pksunkara commented on #98
Thanks 😊

[2020-04-11 16:49] weaversam8 commented on #57
I've also run into this when trying to silence progress updates from the webpack process, this setting is also ignored.

[2020-04-25 12:06] richardmward opened #99 "Question: Use with Vuetify and scss variables performance"
Hi,

Using this plugin, I've managed to easily set up a storybook that uses my own components, which wrap around some Vuetify components. I use a `styles/variables.scss` file in order to customise the general look and feel of Vuetify, but am finding that the performance is significantly worse when using `yarn storybook:serve` than when using `yarn serve`. For example, changing `$border-radius-root

[2020-04-25 13:41] richardmward commented on #99
I think I have just realised - my _vuetify.js_ file has `import Vuetify from 'vuetify/lib/framework';`, whereas in _preview.js_ I am importing from `import { VApp, VContainer } from "vuetify/lib"`.

[2020-04-25 13:46] pksunkara commented on #99
Does it solves the issue?

[2020-04-25 13:57] richardmward commented on #99
Yes, the issue was having the `import { VApp, VContainer } from "vuetify/lib"` in _preview.js_ because it meant I lost the performance benefit of using `import Vuetify from 'vuetify/lib/framework'` in _vuetify.js_ (which is why it was faster when just doing `yarn serve`).

To resolve it, I have put a layer of indirection inbetween the decorator and the Vuetify components, and now get sub 10s rebui

[2020-04-25 14:12] #99 closed

[2020-05-22 15:19] andrey-hohlov commented on #53
Why not use ```.storybook/main.js``` directory?

https://storybook.js.org/docs/guides/guide-vue/#step-3-create-the-main-file

I have to do it:

vue.config.js
[code]

package.json
[code]

[2020-06-09 21:22] davidmoseler opened #100 "Storybook not using same linter as Vue"
When using the vue storybook plugin, the linter options do not seem to be shared between the cli service and storybook. I'm using an airbnb eslint configuration. At some point, storybook compiles the source without even any warning, while npm run lint fails with linting errors. I don't understand what linter configurations are storybook using, and why are they not the same as the cli service. What

[2020-06-09 21:24] davidmoseler commented on #100
Stupid question. The linting errors were not in the components, but in App.vue and main.js. Sorry!

[2020-06-10 09:56] davidmoseler commented on #100
This seems to be a problem with caching. It happens with npm run serve too. Probably this is not the best place to open this issue.

[2020-06-10 09:56] #100 closed

[2020-06-12 18:28] network-rail opened #101 "Installation error TypeError: api.assertCliVersion is not a function"
I've just tried to install it in a fresh Vue cli project and I've got the error:

[code]
### To Reproduce
1. vue create your-project (default)
2. vue add storybook (default)

vue-vli 3.8.2
node v13.8.0
yarn 1.19.1

[2020-06-12 22:14] pksunkara commented on #101
You need a newer vue-cli version. Try v4.

[2020-06-12 22:14] #101 closed

[2020-07-06 20:17] tommcclean opened #102 "Unable to setup using 'vue add storybook' (api.assertCliVersion is not a function)"
Does this module have any pre-requisites?

When I run `vue add storybook` it fails for me everytime

`TypeError: api.assertCliVersion is not a function` is the error that comes out, I am using node 11.1

[2020-07-06 20:22] tommcclean commented on #102
Hmm never mind; I must have been running on old version of CLI.

This fixed it `npm install -g @vue/cli`

[2020-07-06 20:22] #102 closed

[2020-07-13 06:53] bodograumann opened #103 "Do not automatically install addons"
I just tried to install storybook v6.0.0-rc.3 and it failed, because the [notes addon is deprecated](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#deprecated-addon-info-addon-notes) in the latest version:

I think we should not automatically install any addons.
Instead we could show a selection of available addons for the user to choose.
As a bonus, only show those addons, that a

[2020-07-13 07:33] #103 closed

[2020-07-13 08:15] bodograumann opened #104 "Stories glob is invalid"
According to the [migration guide](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#correct-globs-in-mainjs), the glob we are using to define the story files, is not valid.
I think this should be a simple change from `../../src/**/*.stories.(js|jsx|ts|tsx|mdx)` to `../../src/**/*.stories.@(js|jsx|ts|tsx|mdx)`, i.e. adding the `@` character.

[2020-07-13 08:16] pksunkara commented on #104
This change is for storybook 6.0?

[2020-07-13 08:17] bodograumann commented on #104
As I understood the migration guide, the glob is invalid regardless of the storybook version, but until now it worked by accident.

[2020-07-21 13:35] pksunkara commented on #104
@shilman I am confused about this. Can you please explain what's happening?

[2020-07-21 15:05] shilman commented on #104
@pksunkara As I understand it:
- the `.@(a|b|c)` syntax is actually the correct glob syntax
- the `.(a|b|c)` syntax worked accidentally in 5.3 because it's a valid regex, but is incorrect and caused problems with something we wanted to do in 6.0
- we want people using valid globs for future compatibility

Perhaps @yannbf or @ndelangen can clarify further?

[2020-07-21 15:14] ndelangen commented on #104
That's 💯 accurate

[2020-07-21 15:17] pksunkara commented on #104
What about pre 5.3? When was the @ syntax enabled?

[2020-07-22 08:52] ndelangen commented on #104
@pksunkara we had to switch between minimatch/micromatch/nanomatch with various options to get it to work correctly.
This has been thrown around a bit in 6.0, so it's possible a glob that worked well in 5.3 was actually an invalid glob, which won't work in 6.0. And valid globs might not work in 5.3. That's all fairly unfortunate I know.

[2020-07-22 08:54] pksunkara commented on #104
I understand that. But this plugin has different generators depending on the storybook versions. I want to know from what version of storybook is the `@` character supported so that I can make a fix for this issue.

[2020-07-22 09:25] bodograumann opened #105 "Document posibilities for webpack configuration"
By default vue-cli-plugin-storybook uses the vue-cli webpack config to generate a webpack config, which works fine.
Sometimes though, it is necessary to adjust this config for the storybook.
Please add some documentation on how to do that.
I know I did this before, but only from reading some hidden examples and it was a major struggle.

The particular case I am currently looking at, is using the s

[2020-07-22 12:16] ndelangen commented on #104
There were a few iterations during 6.0.0 beta time, but main fix was added here:
https://github.com/storybookjs/storybook/blob/next/CHANGELOG.md#600-beta18-may-29-2020

[2020-07-23 10:04] blowsie opened #106 "Failed to install on a new project usingg vue ui in windows"
[code]

[2020-07-23 23:46] pksunkara commented on #106
What's the `@vue/cli` version you are using?

[2020-08-03 18:21] ecarrera commented on #69
This config solved the issue for me:

[code]

Original post: https://stackoverflow.com/questions/56971513/storybook-does-not-load-svgs-in-components-of-vue-project

[2020-08-10 15:54] blowsie commented on #106
[code]

[2020-08-25 07:24] vinayakkulkarni commented on #75
Doesn't work with Storybook 6

[2020-08-28 12:21] RCVarley opened #107 "CB() never called! (taobao mirror issue)"
### The Problem
As reported in https://github.com/npm/cli/issues/1737, when creating a new project and adding storybook to it with:

[code]

I got this error:
[code]

This error was generated while attempting to use NPM. I also tried Yarn and it failed to fetch `polished-3.6.5.tgz`; I wonder if this was happening in the background...

### The Solution
The issue was related to the taobao mirror of

[2020-09-08 20:53] steveworkman opened #108 "Storybook 6 support by default"
👋  A snag list for things that I noticed when setting the required version to `^6.0.0` when invoking the plugin. I'll do my best to submit PRs for all of these

- [x] The glob is now incorrect. It should have an `@` before the `(js|jsx....)`
- [x] Instead of installing all the dependencies, it can use the `@storybook/essentials` package
- [x] This will enable the `main.js` file to be simpler, and

[2020-09-22 06:39] rdhainaut commented on #105
Totally agree.
I try to config webpack with storybook from days now to ignore chunks name in console. (it takes at least 30 seconds to write all 100 react syntax highlighters plugins chunk name from doc addon.... one issue has been created for that on storybook github but the pain is there)

I have read the webpack doc and i find several options for that (one is devserver.stats = 'errors-only').
B

[2020-09-22 06:41] pksunkara commented on #105
Unfortunately, I haven't been using vue recently. But I am very open for any PRs. Just make one and I should be responding ASAP.

[2020-09-22 11:29] Shahynkamali opened #109 "How to configure storyshots with vue svg loader?"
Hello, I am using storybook 6.0.21 with Vue SVG Loader 0.16.0.
My storyshots testing keeps giving me a warning :

[Vue warn]: Unknown custom element: <ChevronSVG> - did you register the component correctly? For recursive components, make sure to provide the "name" option.

I am registering svg as a component in Vue and in the story it renders fine and there are no issues, but I keep getting this w

[2020-09-23 14:16] bodograumann commented on #105
@rdhainaut Sorry, I cannot help you there. I solved my problem, by directly configuring the path globs in the `postcss.config.js`:

[code]

[2020-09-26 10:00] pksunkara commented on #107
This is actually `@vue/cli` issue.

[2020-09-26 10:00] #107 closed

[2020-09-26 11:58] #104 closed

[2020-09-26 11:59] pksunkara commented on #108
I fixed the glob after some testing

[2020-09-30 20:37] adambullmer opened #110 "Requiring unspecified peer dependency"
### Describe the bug

When using yarn 2 (which has very strict module resolution), builds will error because this package references `@storybook/core`. This is both not installed by the default scaffold `^6.0.0` nor is it listed as a peer dependency of this package.

### Steps to reproduce the behavior

1. Scaffold new vue app `vue create .` and follow prompts
1. Add this plugin `vue add storybook

[2020-09-30 20:42] pksunkara commented on #110
Let's add it as a peer dependency then. Along with `@storybook/vue`

[2020-09-30 20:46] adambullmer opened #111 "Incompatible with vue 3.0"
### Describe the bug

When using this plugin on a vue 3.0 based repo, the storybook build/serve commands fail due to the absence of the `vue/dist/vue.esm.js` file. I believe it has been renamed `vue/dist/vue.esm-browser.js`. Possibly, but not likely, this is because of yarn 2 (berry).

### Steps to reproduce the behavior

1. Scaffold new vue app `vue create .` and follow prompts selecting vue 3.0

[2020-09-30 20:50] adambullmer commented on #111
In the interim, I've utilized yarn's patch capabilities to solve this for me:

First, Create file `./patches/vue-cli-plugin-storybook.patch`
[code]

Then use the patched version in your `package.json`
[code]

[2020-09-30 20:53] pksunkara commented on #111
Is the patch working for you? I can't build storybook for my vue3 project even with `npm`. And vue3 is not exactly supported in storybook.

[2020-09-30 21:04] adambullmer commented on #111
Yeah, I think I called my patch a solution too soon. It builds successfully and I assumed the lack of output was because the boilerplate component was broken for TS projects. After fixing that, there appears to be console errors because `@storybook/vue/dist/client/preview/render.js` tries to create vue components with `new Vue()` which was removed in vue 3.

[code]

[2020-09-30 22:53] adambullmer commented on #111
@pksunkara I think I've got the yarn patchable (post transpile) changes figured out. There's some HMR issues with it for sure, and I'm seeing that click events (and probably other listeners) are firing twice. But this could at least serve as a starting place for using storybook with vue 3.

The changes below mostly follow the migration guides for render functions and creating components. But that

[2020-09-30 23:00] pksunkara commented on #111
You should probably help at https://github.com/storybookjs/storybook/issues/10654 instead of here.

[2020-09-30 23:19] adambullmer commented on #110
You might need to also list `vue` as a peer dependency. Seems in a monorepo setting it may be required

[2020-10-15 20:44] #108 closed

[2020-10-15 20:44] #110 closed

[2020-11-05 13:57] valentinpalkovic opened #113 "[Question] Version 2.0 still not released on npm"
I wanted to ask, whether it is on purpose, that version 2.0 is still not released on npm. Is some further work needed to make a release?

[2020-11-05 18:28] #113 closed

[2020-12-06 06:24] shishirarora3 commented on #18
I am getting this for some reason :(

[2021-01-13 22:50] Kezhich opened #116 "Problems with components using vuetify."
Hi. I'm stuck with adding vuetify to my stories.
I'm using vue CLI 4.5.7 with vue 2.6.11

Most of the components dont work correctly and i can't access vuetify global variables.

I have these errors in console:

[code]
Any idea on how to fix this?

My current package.json chunk:

[code]
My vuetify plugin config:

[code]
Storybook config main.js:

[code]
Storybook config preview.js:

[code]
### Des

[2021-03-04 12:16] WebersonRodrigues commented on #116
Do you have any palliative solutions to this situation?

[2021-05-31 11:22] bodograumann commented on #111
Given that vue3 support has landed in storybook 6.2, this should be doable now.

Here are some things, that I definitely had to change:
- install `@storybook/vue3`
- `framework: 'vue3'` in `lib/index.js`
- require `vue/dist/vue.esm-browser.js` in `lib/preset.js`
- get the new app object in `config/storybook/preview.js` with `import { app } from "@storybook/vue3";`
  e.g. to register directives or

[2021-06-02 08:50] pksunkara commented on #111
We can try. Would welcome a PR

[2021-06-14 07:19] bodograumann commented on #111
From a user perspective I would prefer to have only one plugin no matter my vue version.
For vue 2 we peer-depend on `@storybook/vue` and for vue 3 on `@storybook/vue3` though.
How can we handle that?

[2021-06-16 17:10] bodograumann opened #118 "[Feature Request] Support vue-cli 5"
With vue-cli 5 comes webpack 5 and so we probably need to change some things.
Currently I am getting:

So I guess we at least have to switch to `builder-webpack5`.

[2021-06-17 04:59] bodograumann commented on #118
Relevant documenatition: https://gist.github.com/shilman/8856ea1786dcd247139b47b270912324#upgrade

[2021-06-17 05:33] bodograumann commented on #118
I tried using `builder-webpack5` with storybook 6.2, but only got this:

Upgrading to 6.3.0-rc.8 gives:

So there might be another change required to support v6.3?

[2021-06-18 15:14] bodograumann commented on #111
Ok, I solved it with optional peerDependencies. They work with npm 7. In npm 6 peerDependencies are not pulled in automatically anyways.

Please have a look at the PR @pksunkara .

[2021-06-18 17:52] #111 closed

[2021-06-21 06:39] bodograumann commented on #118
After updating storybook 6.3-rc.11 and nuking the package-lock, everything seems to work.

- Added `@storybook/builder-webpack5`
- Added `@storybook/manager-webpack5`
- Configured the following in `main.js`:
[code]

I guess this could also be handled in the plugin. I’m just not sure how to distinguish between webpack 4 and 5 yet. vue-cli 5 also has a fallback mode for webpack 4...

[2021-07-25 13:21] cmitz commented on #118
@bodograumann Hey man, you saved us a lot of time with your latest comment 😄
Thank you so much!

[2021-09-04 18:41] farrago commented on #116
I've come up with a solution to this, though being new to storybook I can't guarantee it's correct.

I added https://storybook.js.org/addons/@socheatsok78/storybook-addon-vuetify/ to my vue project, but importantly where those instructions tell you to edit `.storybook/<file>.js` you actually need to edit `config/storybook/<file.js>` because that's the new directory that vue cli storybook plugin us

[2021-11-25 12:12] bodograumann commented on #118
Webpack-4 support was now dropped from vue-cli-5, so I think we can probably do the same and release a new major version which only works with vue-cli-5 and webpack-5.

[2021-11-25 15:28] bodograumann commented on #118
For storybook-6.4 compatibility I had to add the following to `resolve` in `preset.js`:
[code]

[2021-11-29 14:53] OmelyanenkoV opened #121 "I have error "Definition for rule 'import/no-unresolved' was not found""
i generated a new project using vue cli
when adding ```vue add storybook``` files are generated
and getting error when ```yarn storybook: serve```
i don't know why this happens, it's a clear project
![image](https://user-images.githubusercontent.com/47278133/143889343-1f255d09-ce92-4984-9823-09f38efaffba.png)

package.json
![image](https://user-images.githubusercontent.com/47278133/143889526-fdf2e

[2021-11-30 12:26] bodograumann opened #122 "[Feature Request] Integrate with eslint"
Storybook 6.4 now comes with a dedicated eslint-plugin.
If the user has enabled eslint in vue-cli, we should also integrate with it.
Cf. https://github.com/storybookjs/eslint-plugin-storybook

[2021-11-30 12:28] bodograumann commented on #121
What is `generated-stories-entry.js`?
I don’t think this is provided by this package.

[2021-11-30 12:39] OmelyanenkoV commented on #121
Don't know, this is a clean project ```vue create test``` and ```vue add storybook```. that's all

[2021-11-30 12:45] OmelyanenkoV commented on #121
I am trying again now. and I get the same error

[2021-11-30 15:08] bodograumann opened #123 "[Feature Request] Improve output"
When running through the vue ui browser interface, the output of `storybook:serve` is extremely long and verbose, especially compared to running `serve`. Not sure how they do it there. Maybe there were also some improvements with webpack-5.

[2021-11-30 15:30] bodograumann commented on #121
Is there a reason you are using vue-2? For new projects I would always recommend vue-3.
When using vue-3 you can also choose storybook ^6.4.1.
I can’t recreate you setup right now, because I’m already on vue-cli-5, but maybe you can share you minimal setup as a github repo?

[2021-12-01 08:25] OmelyanenkoV commented on #121
https://github.com/OmelyanenkoV/vue_storybook

[2021-12-01 09:50] bodograumann commented on #73
The good news: MDX-2 is in rc now and will be used in Storybook-7 afaik. It will support using Vue JSX directly in MDX files.

Currently however, there is the following in the example mdx file:
[code]
This does not work and we shouldn‘t promote it, even if it was possible.
What do you say @pksunkara, can we remove it?

[2021-12-01 12:13] bodograumann commented on #121
Seems like the eslint version is too old. But imho this internal storybook file should not be linted in the first place. Do you know why it is linted @pksunkara ?

[2021-12-06 23:44] pksunkara commented on #121
It's nothing this repo does. I think the fix here is to ignore that file in gitignore (or eslintignore) because it seems to be generated by storybook.

[2021-12-06 23:44] #121 closed

[2021-12-06 23:48] pksunkara commented on #73
I did test the generated stuff when I wrote it and it was working. Did anything change to not make it work? Did you make sure to `hasBabel` while generating?

Until we actually have MDX-2 available, I think we still need to keep this.

[2021-12-07 08:25] bodograumann commented on #73
I don’t see how it could work like that. `RButton` is not defined anywhere. @pksunkara

[2021-12-07 12:41] #118 closed

[2021-12-07 12:44] pksunkara commented on #90
I am closing this as out of date. @bodograumann Unless you want to add a migrator?

[2021-12-07 12:48] bodograumann commented on #90
Agreed. Don’t think it is worth the effort anymore.

[2021-12-07 12:48] #90 closed

[2022-01-11 09:18] bodograumann opened #124 "[Bug] Production build breaks on npm update"
### Describe the bug

After updating from 6.4.8 to 6.4.9, storybook production build breaks.
It seems to be unable to parse mdx files correctly.
I will have to look more deeply into this.

[2022-01-11 11:23] bodograumann commented on #124
I also get the following error at the beginning of the log:
[code]

[2022-01-11 11:50] bodograumann commented on #124
Relevant main.js. Removing the docs addon seems to fix the problem. I was not able to reproduce the issue in a clean project yet though.

[code]

[2022-01-11 13:18] bodograumann commented on #124
Turns out, it is not actually storybook which breaks this. It is some other subdependency. Maybe some part of babel :-(

[2022-01-11 13:58] bodograumann commented on #124
Seems like the relevant change is that the `@storybook/addon-docs` dependency is not flattened in package.json, but only installed as `node_modules/@storybook/addon-essentials/node_modules/@storybook/addon-docs`.

Might this be related to npm 8.3.0?

[2022-01-11 14:04] bodograumann commented on #124
Explicitely installing `@storybook/addon-docs` besides `@storybook/addon-essentials` works around the problem.

[2022-01-12 10:40] bodograumann commented on #124
I guess in the default config this works fine, so this can probably not be fixed here :-|.

[2022-01-12 10:40] #124 closed

[2022-01-19 12:22] samsour opened #125 "[Feature Request] Add vue-cli-service equivalent --mode option"
### Describe the bug

Hey, I am using the vue-cli-service für vue 3 and would like to have an option `--mode` to set specific environments or settings (without setting NODE_ENV=development npm run something).

### Steps to reproduce the behavior

I have somthing like this in my package.json.

[code]

### Expected behavior

`npm run build` works fine as described in https://cli.vuejs.org/guide/mode

[2022-01-30 22:48] watsab opened #126 "Style not applied"
Hi !
I install storybook via the vue-cli and added a .scss file in my `preview.js`:
[code]
where "assets" is an alias configured in my vue.config.js to refer to the src/assets path. According to the docs; "The webpack config used for storybook is resolved from vue-cli-service, which means you don't need to have any special webpack section in storybook config folder.", so the path should ne correct

[2022-07-26 22:40] adambullmer commented on #116
As an additional potential solution, I've made this decorator, where `AppDecorator` is a component that will render `<v-app>` and `<v-main>`, among other implementation specific global needs:

[code]

For me, the thing I see different from the original decorator is the use of the wrapper creating a wrapped vue component along with injecting it into the decorator vue component. It was my understand

[2022-07-26 22:44] adambullmer commented on #13
I've been successful in running a storybook project with typescript stories files (`.stories.ts`), and using this vue-cli plugin. I'm not sure there's anything this plugin needs to be doing differently with respect to that setup.

[2022-07-26 23:09] adambullmer opened #128 "Support for storybook v6.5.9 and v7 syntax"
### Describe the bug

This probably also merits a fix to figure out if `@storybook/core/server` or `@storybook/core-server` is available as a dependency to require. The relevant dummy patch has been added to the reproduction steps.

I expect this to be an issue with bleeding edge use cases, but believe this will be a bigger problem when storybook releases their first V7 release. Using the new-ish

[2022-10-11 08:55] #128 closed

[2022-11-14 11:16] sanchopanda opened #131 "Load svg using nuxt-svg-loader not working"
I have a project on nuxt, I want to use storybook, there is a problem with load svg to storybook build.

[code]

using nuxt-svg-loader, if i build the project itself, then everything is fine, but when building the storybook, it gives an error

[code]

in storybook/main.js I setup like this

[code]

also tried  vue-svg-loader

[code]

in this case it gives the following error

[code]